main {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-top: 16px;
  font-family: "elza-text", sans-serif;
  background: var(--yellow-50);
}
main .grid {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  column-gap: 20px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
