nav {
    width: calc(100% - 64px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 32px 100px;
    //background: linear-gradient(to bottom, white 0%, white 45%, transparent 45%, transparent 100%);

    &.home-nav {
        display: flex;
        align-items: center;
        height: 48px;
        margin: 0;
        padding: 16px 32px;
        background: var(--yellow-50);
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    .right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        .account-btn {
            display: flex;
            align-items: center;
            /*gap: 8px;*/

            ::deep svg path {
                stroke: var(--purple-800);
            }

            input {
                padding: 4px 8px;
                border-radius: 12px;
                border: 1px solid var(--gray-200);
                color: var(--purple-800);
                letter-spacing: 0.5px;
            }

            span {
                font-size: 14px;
                color: var(--purple-800);
                cursor: pointer;
                letter-spacing: 0.5px;

                &:hover {
                    color: var(--purple-500);
                    text-decoration: underline;
                }

                &:active {
                    color: var(--purple-800);
                }
            }
        }
    }
}

button {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    color: var(--purple-800);
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.14px;
    cursor: pointer;
    transition: .2s all ease-in-out;

    ::deep svg path {
        stroke: #FFFCF6;
    }

    &.secondary-btn {
        padding: 0 !important;
        border: 1px solid transparent;

        &:hover {
            color: var(--purple-500);
            text-decoration: underline;
        }

        &:active {
            color: var(--purple-800);
        }
    }
}

.other-nav {
    position: fixed;
    width: calc(100vw - 238px);
    padding: 8px 16px;
    border-radius: 12px;
    background: rgba(26, 12, 50, 0.26);
    box-shadow: 4px 4px 16px 0px rgba(63, 24, 5, 0.15);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);

    .left {
        button {
            display: flex;
            align-items: center;
            padding: 8px 16px 8px 14px;

            > svg {
                width: 14px;
                height: 14px;

                path {
                    stroke: var(--white);
                }
            }
        }
    }

    .center {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        input {
            width: 100%;
            height: 16px;
            padding: 8px 16px;
            background: transparent;
            border-radius: 16px;
            border: 1px solid var(--gray-200);
            color: var(--gray-200);
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.16px;

            &:focus {
                background: rgba(0, 0, 0, 0.20);
            }

            &::placeholder {
                color: var(--gray-200);
                opacity: .6;
            }
        }
    }

    button {
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4px;
        color: var(--yellow-50);

        ::deep svg {
            margin-top: 1px;
        }

        &:hover {
            border: 1px solid var(--yellow-50);
        }

        &:active {
            background: rgba(255, 252, 246, 0.1);
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .tertiary-btn {
            background: var(--white);
            border-radius: 20px;
            transition: 0.1s all ease-in-out;

            ::deep svg path {
                stroke: var(--purple-800);
            }

            &.donate-btn {
                ::deep svg path {
                    stroke: none;
                    fill: var(--purple-800);
                }
            }

            span {
                color: var(--purple-800);
            }

            &:hover {
                color: var(--purple-800);
                background: var(--purple-50);
            }

            &:active {
                color: var(--purple-900);
                border-color: var(--purple-900);

                > svg path {
                    stroke: var(--purple-900);
                }
            }

            &:disabled {
                border: 1px solid transparent;
                opacity: 0.5;
            }
        }
    }
}

.home-nav {
    margin: 0;
    padding: 32px 100px;
}

@media only screen and (max-width: 1024px), (orientation: portrait) {
    .other-nav {
        width: calc(100% - 64px);
        margin: 16px;

        .right {
            position: fixed;
            top: calc(100vh - 82px);
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 32px);
            padding: 8px 16px;
            border-radius: 12px;
            background: rgba(26, 12, 50, 0.26);
            box-shadow: 4px 4px 16px 0px rgba(63, 24, 5, 0.15);
            backdrop-filter: blur(100px);
            -webkit-backdrop-filter: blur(100px);
            justify-content: center;
            gap: 8px;

            > * {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    nav {
        width: calc(100% - 120px);
        margin: 32px 60px;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        width: calc(100% - 32px);
        margin: 16px
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .home-nav {
        width: calc(100vw - 64px);
        padding: 32px 32px 12px 32px;
    }
}

@media (min-width: 375px) and (max-width: 766px) {
    .home-nav {
        width: calc(100vw - 32px);
        padding: 42px 16px 16px 16px;
    }
}