<nav id="nav" class="@(IsHomePage ? "home-nav" : "other-nav")">
    <div class="container">
        @if (IsHomePage)
        {
            <div class="left" @onclick='() => Navigate("/")'>
                <SparcLogo />
            </div>
            <div class="right">
                <button id="ideas-btn" class="secondary-btn" @* @onclick='() => Navigate("/ideas")' *@>Ideas</button>
                @* <button class="secondary-btn">Button</button> *@
            </div>
        }
        else
        {
            <div class="left">
                <button @onclick='() => Navigate("/")'><ArrowLeftIcon /> <span>Exit</span></button>
            </div>
            <div class="center">
                <input type="text" placeholder="Search" class="input-text" />
            </div>
            <div class="right">
                <button><ExploreIcon /> <span>Explore</span></button>
                <button><FilterIcon /> <span>Filter</span></button>
                <button class="add-btn" @onclick="ToggleAddCard"><AddIcon /> <span>Add</span></button>
            </div>
        }
    </div>
</nav>

@if (ShowAddCard)
{
    <div class="modal-overlay" @onclick:stopPropagation>
        <AddCard OnClose="CloseAddCard" />
    </div>
}

@code {
    private bool ShowAddCard = false;
    private bool IsHomePage => Nav.Uri.EndsWith("/");

    private void Navigate(string path)
    {
        Nav.NavigateTo(path);
    }

    private void ToggleAddCard()
    {
        ShowAddCard = !ShowAddCard;
    }

    private void CloseAddCard(bool shouldClose)
    {
        if (shouldClose)
            ShowAddCard = false;
    }

    // private void CancelAddCard()
    // {
    //     
    // }
}

