nav {
  width: calc(100vw - 158px);
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 32px 60px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
nav .center input {
  width: 80%;
  margin-left: 10px;
  padding: 10px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--yellow-50);
  font-size: 14px;
}
nav .center input::placeholder {
  color: var(--yellow-50);
  opacity: 0.6;
}
nav .right {
  display: flex;
  gap: 8px;
}
nav button {
  padding: 8px 16px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  color: var(--purple-800);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.other-nav {
  position: fixed;
  width: calc(100vw - 158px);
  border-radius: 12px;
  background: rgba(26, 12, 50, 0.26);
  box-shadow: 4px 4px 16px 0px rgba(63, 24, 5, 0.15);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}
.other-nav button {
  color: var(--yellow-50);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.other-nav button:hover {
  border: 1px solid var(--yellow-50);
}
.other-nav button:active {
  background: rgba(255, 252, 246, 0.1);
}
.other-nav button.add-btn {
  background: var(--yellow-50);
  border-radius: 20px;
  transition: 0.2s all ease-in-out;
}
.other-nav button.add-btn span {
  color: var(--purple-800);
}
.other-nav button.add-btn:hover {
  border: 1px solid transparent;
  background: rgba(255, 252, 246, 0.8);
}
.other-nav button.add-btn:active {
  transform: translatey(1px) scale(99%);
}
