<nav id="nav" class="@(IsIdeasPage ? "other-nav" : "home-nav")">
    <div class="container">
        @if (IsIdeasPage)
        {
            <div class="left">
                <button @onclick='() => Navigate("/")'><ArrowLeftIcon /> <span>Exit</span></button>
            </div>
            <div class="center">
                <input type="text" placeholder="Search" class="input-text" />
            </div>
            <div class="right">
                <button class="tertiary-btn" @onclick="() => OpenAddCard(2)"><LightbulbIcon /> <span>Buy Product</span></button>
                <button class="tertiary-btn" @onclick="() => OpenAddCard(0)"><LightbulbIcon /> <span>Share Idea</span></button>
                <button class="tertiary-btn donate-btn" @onclick="() => OpenAddCard(1)"><DollarIcon />  <span>Donate</span></button>
            </div>
        }
        else
        {
            <div class="left" @onclick='() => Navigate("/")'>
                <SparcLogo />
            </div>
            <div class="right">
                <Auth />
                <button id="ideas-btn" class="secondary-btn">Ideas</button>
            </div>
        }
    </div>
</nav>

@if (ShowAddCard)
{
    <div class="modal-overlay" @onclick:stopPropagation>
        <AddCard OnClose="CloseAddCard" SelectedHeaderButton="@SelectedHeaderButton" />
    </div>
}

@code {
    private bool ShowAddCard = false;
    private bool IsIdeasPage => Nav.Uri.EndsWith("/ideas");
    private int SelectedHeaderButton = 0;

    private void Navigate(string path)
    {
        Nav.NavigateTo(path);
    }

    private void OpenAddCard(int headerIndex)
    {
        SelectedHeaderButton = headerIndex;
        ShowAddCard = true;
    }

    private void CloseAddCard(bool shouldClose)
    {
        if (shouldClose)
            ShowAddCard = false;
    }
}

