<nav class="@(IsHomePage ? "home-nav" : "other-nav")">
    <div class="container">
        @if (IsHomePage)
        {
            <div class="left" @onclick='() => Navigate("/")'>
                <SparcLogo />
            </div>
            <div class="right">
                <button @onclick='() => Navigate("/ideas")'>Ideas</button>
                <button>Button</button>
            </div>
        }
        else
        {
            <div class="left">
                <button @onclick='() => Navigate("/")'>Exit</button>
            </div>
            <div class="center">
                <input type="text" placeholder="Search..." class="input-text" />
            </div>
            <div class="right">
                <button><ExploreIcon /> <span>Explore</span></button>
                <button><FilterIcon /> <span>Filter</span></button>
                <button class="add-btn"><AddIcon /> <span>Add</span></button>
            </div>
        }
    </div>
</nav>

@code {
    private bool IsHomePage => Nav.Uri.EndsWith("/");

    private void Navigate(string path)
    {
        Nav.NavigateTo(path);
    }
}

