nav {
  width: calc(100vw - 158px);
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 32px 60px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
nav .right {
  display: flex;
  gap: 8px;
}
nav button {
  padding: 8px 16px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  color: var(--purple-800);
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.14px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.other-nav {
  position: fixed;
  width: calc(100vw - 158px);
  border-radius: 12px;
  background: rgba(26, 12, 50, 0.26);
  box-shadow: 4px 4px 16px 0px rgba(63, 24, 5, 0.15);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}
.other-nav .left button > svg {
  width: 14px;
  height: 14px;
}
.other-nav .left button > svg path {
  stroke: var(--white);
}
.other-nav .center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.other-nav .center input {
  width: 100%;
  height: 16px;
  padding: 8px 16px;
  background: transparent;
  border-radius: 16px;
  border: 1px solid var(--gray-200);
  color: var(--gray-200);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.16px;
}
.other-nav .center input:focus {
  background: rgba(0, 0, 0, 0.2);
}
.other-nav .center input::placeholder {
  color: var(--gray-200);
  opacity: 0.6;
}
.other-nav button {
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  color: var(--yellow-50);
}
.other-nav button ::deep svg {
  margin-top: 1px;
}
.other-nav button:hover {
  border: 1px solid var(--yellow-50);
}
.other-nav button:active {
  background: rgba(255, 252, 246, 0.1);
}
.other-nav button.add-btn {
  background: var(--yellow-50);
  border-radius: 20px;
  transition: 0.1s all ease-in-out;
}
.other-nav button.add-btn span {
  color: var(--purple-800);
}
.other-nav button.add-btn:hover {
  color: var(--purple-800);
  transform: scale(103%);
}
.other-nav button.add-btn:hover > svg path {
  stroke: var(--purple-800);
}
.other-nav button.add-btn:active {
  color: var(--purple-900);
  transform: scale(1);
}
.other-nav button.add-btn:active > svg path {
  stroke: var(--purple-900);
}
.other-nav button.add-btn:disabled {
  border: 1px solid transparent;
  opacity: 0.5;
}
