<nav id="nav" class="@(IsHomePage ? "home-nav" : "other-nav")">
    <div class="container">
        @if (IsHomePage)
        {
            <div class="left" @onclick='() => Navigate("/")'>
                <SparcLogo />
            </div>
            <div class="right">
                <button id="ideas-btn" class="secondary-btn">Ideas</button>
            </div>
        }
        else
        {
            <div class="left">
                <button @onclick='() => Navigate("/")'><ArrowLeftIcon /> <span>Exit</span></button>
            </div>
            <div class="center">
                <input type="text" placeholder="Search" class="input-text" />
            </div>
            <div class="right">
                <button class="add-btn" @onclick="() => OpenAddCard(0)"><LightbulbIcon /> <span>Share Idea</span></button>
                <button class="add-btn" @onclick="() => OpenAddCard(1)"><DollarIcon />  <span>Donate</span></button>
            </div>
        }
    </div>
</nav>

@if (ShowAddCard)
{
    <div class="modal-overlay" @onclick:stopPropagation>
        <AddCard OnClose="CloseAddCard" SelectedHeaderButton="@SelectedHeaderButton" />
    </div>
}

@code {
    private bool ShowAddCard = false;
    private bool IsHomePage => Nav.Uri.EndsWith("/");
    private int SelectedHeaderButton = 0;

    private void Navigate(string path)
    {
        Nav.NavigateTo(path);
    }

    private void OpenAddCard(int headerIndex)
    {
        SelectedHeaderButton = headerIndex;
        ShowAddCard = true;
    }

    private void CloseAddCard(bool shouldClose)
    {
        if (shouldClose)
            ShowAddCard = false;
    }
}

