body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--purple-50);
  position: relative;
}

main {
  position: relative;
  margin: auto 0;
  z-index: 100;
}

.background {
  width: 200vw;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/images/background.png");
  background-size: cover;
  z-index: 1;
}
.background-noise {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/images/background-noise.png") repeat;
  z-index: 2;
}
