@inherits LayoutComponentBase

<NavMenu />

<main>
    @Body
</main>

<div id="background" class="background">
    <div class="background-image"></div>
    <div class="background-noise"></div>
</div>

<style>
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--purple-50);
    position: relative;
    width: fit-content;
    height: fit-content;
    }
</style>

<script>
    setTimeout(() => {
        findCenter();
    } , 500);
</script>