@inherits LayoutComponentBase

<Sparc.Kori.KoriContent>
    <div class="page">
        <NavMenu />
        <main class="landing">
            @Body
        </main>
    </div>
</Sparc.Kori.KoriContent>