@inherits LayoutComponentBase

<IbisTranslate ChannelId="sparc-coop">
    <div class="page">
        <NavMenu />
        <main class="landing">
            @Body
        </main>
    </div>
</IbisTranslate>