//colors
$background: #F2EDDF;
$black: #000000;
$white: #FFFFFF;
$blue-500: #2A74FF;
$blue-100: #EBF2FF;
$green-500: #06EFC2;
$green-100: #EBFFFB;
$peach-600: #FE4235;
$peach-500: #FF756A;
$peach-400: #FF9087;
$peach-100: #FFECEB;
$purple-500: #0C0662;
$purple-100: #ECEBFF;
$yellow-500: #FFB600;
$yellow-100: #F2EDDF;
$grey-900: #111321;
$grey-700: #38383B;
$grey-500: #68696E;
$grey-300: #7A7B7F;
$grey-100: #9FA0A3;

$box-shadow-md: -10px 2px 4px rgba(16, 45, 71, 0.02);