@import "App.Variables";
@import "App.Assets";

@import "Shared/NavMenu";

@import "Pages/Index";

@import "Projects/ProjectsList";
@import "Projects/Project";
@import "Projects/ProjectCard";

@import "Blog/BlogList";
@import "Blog/Blog";

@import "Community/CommunityCta";

.ibis-translate {
    padding: 0;
    margin: 0;
}

.ibis-translating {
    visibility: visible;
    opacity: 0.3;
}

