.add-card {
    display: flex;
    flex-direction: column;
    width: 332px;
    height: 605px;
    padding: 24px;
    border-radius: 16px;
    background: var(--yellow-50);
    box-shadow: 4px 4px 16px rgba(63, 24, 5, 0.25);
    gap: 24px;

    .card-nav {
        display: flex;
        gap: 5px;

        button {
            height: 32px;
            padding: 3px 12px 3px 10px;
            display: flex;
            gap: 4px;
            align-items: center;
            border: 1px solid transparent;
            border-radius: 15px;
            color: var(--gray-700);
            font-weight: 600;
            background: transparent;
            cursor: pointer;
            opacity: 0.6;

            &.active {
                box-shadow: 0 0 8px rgba(178, 116, 250, 0.25);
                color: var(--purple-800);
                opacity: unset;
            }
        }

        button:first-of-type {
            ::deep svg path {
                stroke: var(--gray-600);
            }

            &.active {
                ::deep svg path {
                    stroke: var(--purple-800);
                }
            }
        }

        button:last-of-type {
            ::deep svg path {
                fill: var(--gray-600);
            }

            &.active {
                ::deep svg path {
                    fill: var(--purple-800);
                }
            }
        }
    }

    .progress-bar {
        height: 2px;
        background: var(--purple-100);
        /*margin: 0 0 24px 0;*/

        .progress {
            height: 2px;
            background: var(--purple-800);
        }
    }

    ::deep header {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h2 {
            color: var(--gray-900);
            font-size: 2.133rem;
            font-weight: 600;
            letter-spacing: -0.427px;
        }

        p {
            color: var(--gray-600);
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: normal;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-height: 512px;
        gap: 24px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        /*margin-top: 34px;*/
    }
}
