.add-card {
  width: 332px;
  padding: 24px;
  border-radius: 16px;
  background: var(--yellow-50);
  box-shadow: 4px 4px 16px rgba(63, 24, 5, 0.25);
}
.add-card .progress-bar {
  height: 2px;
  background: var(--purple-100);
}
.add-card .progress-bar .progress {
  height: 100%;
  background: var(--purple-800);
}
.add-card header {
  display: flex;
  gap: 5px;
  margin-bottom: 24px;
}
.add-card header button {
  height: 32px;
  padding: 3px 12px;
  display: flex;
  gap: 4px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 15px;
  color: var(--gray-700);
  font-weight: 600;
  background: transparent;
  cursor: pointer;
}
.add-card header button.active {
  box-shadow: 0 0 8px rgba(178, 116, 250, 0.25);
  color: var(--purple-800);
}
.add-card section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
.add-card footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.add-card footer button {
  height: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  border: 1px solid transparent;
  background: none;
}
.add-card footer button:active {
  border-color: var(--gray-100);
}
.add-card footer button:first-of-type {
  color: var(--purple-800);
}
.add-card footer button:first-of-type:hover {
  border-color: var(--purple-800);
}
.add-card footer button:last-of-type {
  color: var(--yellow-50);
  background: var(--purple-800);
}
.add-card footer button:last-of-type:hover {
  opacity: 0.5;
}
