.add-card {
    display: flex;
    flex-direction: column;
    width: 332px;
    height: 605px;
    padding: 24px;
    border-radius: 16px;
    background: var(--yellow-50);
    box-shadow: 4px 4px 16px rgba(63, 24, 5, 0.25);

    .progress-bar {
        height: 2px;
        background: var(--purple-100);
        margin: 24px 0;

        .progress {
            height: 2px;
            background: var(--purple-800);
        }
    }

    header {
        display: flex;
        gap: 5px;

        button {
            height: 32px;
            padding: 3px 12px 3px 10px;
            display: flex;
            gap: 4px;
            align-items: center;
            border: 1px solid transparent;
            border-radius: 15px;
            color: var(--gray-700);
            font-weight: 600;
            background: transparent;
            cursor: pointer;
            opacity: 0.6;

            &.active {
                box-shadow: 0 0 8px rgba(178, 116, 250, 0.25);
                color: var(--purple-800);
                opacity: unset;
            }
        }

        button:first-of-type {
            ::deep svg path {
                stroke: var(--gray-600);
            }

            &.active {
                ::deep svg path {
                    stroke: var(--purple-800);
                }
            }
        }

        button:last-of-type {
            ::deep svg path {
                fill: var(--gray-600);
            }

            &.active {
                ::deep svg path {
                    fill: var(--purple-800);
                }
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;        
        flex: 1;
        max-height: 448px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        margin-top: 34px;

        /*button {
            height: 40px;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: .2s all ease-in-out;
            border: 1px solid transparent;
            background: none;

            &:active {
                border-color: var(--gray-100);
            }

            &:first-of-type {
                color: var(--purple-800);

                &:hover {
                    border-color: var(--purple-800);
                }
            }

            &:last-of-type {
                color: var(--yellow-50);
                background: var(--purple-800);
            }
        }*/
    }
}