@using System.Net.Http.Json
@using System.Globalization
@using Sparc.Blossom.Authentication
@using Sparc.Blossom.Content
@using Sparc.Blossom.Content.Icons
@using Microsoft.AspNetCore.Components.Forms

<div class="language-select">
    @if (Languages is not null && SelectedLanguageId is not null)
    {
        <InputSelect @bind-Value="SelectedLanguageId">
            @foreach (var language in Languages)
            {
                <option value="@language.Id">@language.DisplayName (@language.NativeName)</option>
            }
        </InputSelect>
    }
</div>

@code {
    [Parameter] public BlossomUser? CurrentUser { get; set; }
    [Parameter] public string? SelectedLanguageId { get; set; }
    [Parameter] public EventCallback<string?> SelectedLanguageIdChanged { get; set; }
    private IEnumerable<Sparc.Engine.Language>? Languages { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Languages = await SparcEngine.GetLanguages();

        if (string.IsNullOrWhiteSpace(SelectedLanguageId))
        {
            var inferred = CurrentUser?.PrimaryLanguage?.Id
                ?? Languages.FirstOrDefault(l => l.Id == CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)?.Id;

            if (!string.IsNullOrWhiteSpace(inferred))
            {
                SelectedLanguageId = inferred;
                await SelectedLanguageIdChanged.InvokeAsync(SelectedLanguageId);
            }
        }
    }
}