@using System.Net.Http.Json
@using System.Globalization
@using Sparc.Blossom.Authentication
@using Sparc.Blossom.Content
@using Sparc.Blossom.Content.Icons

<div class="language-selector">
    <button @onclick=ToggleLanguageList>
        <Sparc2.Shared.Icons.Language />
        @SelectedLanguage?.DisplayName
        <Sparc2.Shared.Icons.Expand IsExpanded="ShowLanguageSettings" />
    </button>

    @if (ShowLanguageSettings && Languages != null)
    {
        <ul>
            @foreach (var language in Languages)
            {
                <li>
                    <button @onclick=@(() => ChangeLanguage(language))>
                        @language.DisplayName

                        @if (language.DisplayName != language.NativeName)
                        {
                            <aside>@language.NativeName</aside>
                        }

                        @if (SelectedLanguage?.Id == language.Id)
                        {
                            <div class="right">
                                <Sparc2.Shared.Icons.Check />
                            </div>
                        }
                    </button>
                </li>
            }
        </ul>
    }
</div>

@inject IBlossomCloud Cloud
@* @inject IBlossomAuthenticator Auth *@

@code {
    [Parameter] public BlossomUser? CurrentUser { get; set; }
    Sparc.Blossom.Content.Language? SelectedLanguage;
    IEnumerable<Sparc.Blossom.Content.Language>? Languages { get; set; }

    bool ShowLanguageSettings = false;

    protected override async Task OnInitializedAsync()
    {
        Languages = await Cloud.GetLanguages();
        // SelectedLanguage = CurrentUser.PrimaryLanguage
        //     ?? Languages.FirstOrDefault(x => x.Id == CultureInfo.CurrentUICulture.TwoLetterISOLanguageName);
    }
    void ToggleLanguageList()
    {
        ShowLanguageSettings = !ShowLanguageSettings;
    }

    async Task ChangeLanguage(Sparc.Blossom.Content.Language language)
    {
        // await LanguageChanged.InvokeAsync(language);

        var updatedUser = await Cloud.AddUserLanguage(language);
        SelectedLanguage = updatedUser.PrimaryLanguage;
        ToggleLanguageList();
        StateHasChanged();
    }
}