:root {
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF4D4D;
  --gray-100: #E6E6E6;
  --gray-600: #6B6B6B;
  --gray-700: #525252;
  --gray-900: ##1F1F1F;
  --yellow-50: #FFFCF6;
  --yellow-100: #FFF8EB;
  --yellow-200: #FEEECD;
  --yellow-300: #FBCB6A;
  --yellow-400: #EEAE2F;
  --yellow-500: rgba(213, 144, 8, 0.97);
  --yellow-600: #A26F0A;
  --yellow-700: #714E0A;
  --yellow-800: #422E06;
  --yellow-900: #201602;
  --purple-50: #F7F2FC;
  --purple-100: #DABEFA;
  --purple-200: #C596FB;
  --purple-300: #B274FA;
  --purple-400: #8B46DB;
  --purple-500: #3F256B;
  --purple-600: #52289C;
  --purple-700: #3F256B;
  --purple-800: #2B1C45;
  --purple-900: #1A0C32;
  --orange-50: #F4DED3;
  --orange-100: #F2C7B1;
  --orange-200: #F1AF8E;
  --orange-300: #F38F5D;
  --orange-400: #F86F2B;
  --orange-500: #FF5A08;
  --orange-600: #D74A04;
  --orange-700: #B0420B;
  --orange-800: #6B2908;
  --orange-900: #3F1805;
}

html, body {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  margin: 0;
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6, h7 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input, select, textarea {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
a:visited {
  color: var(--gray-600, #6B6B6B);
}

button {
  padding: 0;
  border: 1px solid transparent;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  margin: 0;
}
