<div id="payment-element">
    <p style="font-size: 16px">Loading payment form...</p>
</div>

<button id="submit-button" type="submit" class="btn btn-success">
</button>

<div id="error-message" style="color:red; margin-top: 10px;"></div>

@inject IConfiguration Configuration
@code {
    [Parameter] public SparcOrder Order { get; set; } = default!;

    private string? _baseUrl;

    private DotNetObjectReference<ProductPurchaseStripeForm>? dotNetHelper;

    protected override void OnInitialized()
    {
        _baseUrl = Nav.BaseUri;
        dotNetHelper = DotNetObjectReference.Create(this);
    }

    public async Task InitiateStripePayment()
    {
        try
        {
            var intent = await Billing.StartCheckoutAsync(Order);

            StateHasChanged();

            await Js.InvokeVoidAsync(
              "stripeIntegration.initPaymentForm",
              intent.ClientSecret,
              intent.PublishableKey,
              dotNetHelper,
              _baseUrl
            );
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error creating PaymentIntent: {ex.Message}");
            StateHasChanged();
        }
    }

    [JSInvokable]
    public Task HandlePaymentSuccess()
    {
        Console.WriteLine("Payment successful signal received from JavaScript.");
        return InvokeAsync(StateHasChanged);
    }
}
