.form-group {
    label {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span {
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 16.8px */
            letter-spacing: -0.12px;
        }

        input, select, button {
            display: flex;
            padding: 16px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            border-radius: 26px;
            border: 1px solid var(--purple-100);
            opacity: 0.5;
        }

        select {
            width: 50%;
        }
    }

    &.amount {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .amount-grid {
        button {
            padding: 16px;
            margin-right: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            border-radius: 26px;
            border: 1px solid var(--purple-100);
            opacity: 1;

            &:hover {
                background: var(--gray-200);
            }

            &.selected {
                background-color: white;
                border-color: darkblue;
            }
        }
    }
}
