@implements IDisposable

<form id="payment-form" @onsubmit="Pay" @onsubmit:preventDefault="true">
    <div id="@Id" @ref=PaymentForm>
        <p style="font-size: 16px">Loading payment form...</p>
    </div>

    @if (Intent != null)
    {
        <button id="submit-button" type="submit" class="btn primary-btn">
            Pay @Intent.FormattedAmount
        </button>
    }

    <div id="error-message" style="color:red; margin-top: 10px;"></div>
</form>

@inject IConfiguration Configuration
@inject Sparc.Engine.SparcEvents Events
@code {
    [Parameter] public required Product Product { get; set; } = default!;
    [Parameter] public required BlossomAvatar Avatar { get; set; } = default!;
    SparcOrder Order = new();
    SparcPaymentIntent? Intent;
    Lazy<Task<IJSObjectReference>> Auth = null!;
    ElementReference PaymentForm;
    string Id => $"payment-form-{Guid.NewGuid()}";
    record PaymentResult(bool Succeeded, string? ErrorMessage = null);

    protected override async Task OnInitializedAsync()
    {
        Auth = Js.Import("./Catalog/Purchase/ProductPurchaseStripeForm.razor.js");
        Order.Currency = Avatar.Currency?.Id;
        Order.ProductId = Product.Id;
        Order.StripeProductId = Product.StripeProductId!;
        Events.CurrencyChanged += OnCurrencyChanged;
        await InitiateStripePayment();
    }

    private async Task OnCurrencyChanged(SparcCurrency currency)
    {
        Order.Currency = currency.Id;
        await InitiateStripePayment();
    }

    public async Task InitiateStripePayment()
    {
        try
        {
            Intent = await Billing.StartCheckoutAsync(Order);
            Order.PaymentIntentId = Intent.PaymentIntentId;

            StateHasChanged();

            var stripe = await Auth.Value;
            await stripe.InvokeVoidAsync("initialize", PaymentForm, Intent);
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error creating PaymentIntent: {ex.Message}");
        }
    }

    public async Task Pay()
    {
        var dotNetHelper = DotNetObjectReference.Create(this);
        
        var returnUrl = $"{Nav.Uri}?paymentIntentId={Intent!.PaymentIntentId}";
        var stripe = await Auth.Value;
        var result = await stripe.InvokeAsync<PaymentResult>("pay", returnUrl);
        if (result.Succeeded)
            Nav.NavigateTo(returnUrl, forceLoad: true);
    }

    [JSInvokable]
    public Task HandlePaymentSuccess()
    {
        Console.WriteLine("Payment successful signal received from JavaScript.");
        return InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Events.CurrencyChanged -= OnCurrencyChanged;
    }
}
