<div id="payment-element">
    <p style="font-size: 16px">Loading payment form...</p>
</div>

@if (Intent != null)
{
    <button id="submit-button" type="submit" class="btn primary-btn">
        Pay @Intent.FormattedAmount
    </button>
}

<div id="error-message" style="color:red; margin-top: 10px;"></div>

@inject IConfiguration Configuration
@code {
    [Parameter] public SparcOrder Order { get; set; } = default!;
    SparcPaymentIntent? Intent;

    private string? _baseUrl;

    private DotNetObjectReference<ProductPurchaseStripeForm>? dotNetHelper;

    protected override void OnInitialized()
    {
        _baseUrl = Nav.BaseUri;
        dotNetHelper = DotNetObjectReference.Create(this);
    }

    public async Task InitiateStripePayment()
    {
        try
        {
            Intent = await Billing.StartCheckoutAsync(Order);
            Order.PaymentIntentId = Intent.PaymentIntentId;

            StateHasChanged();

            await Js.InvokeVoidAsync(
              "stripeIntegration.initPaymentForm",
              Intent.ClientSecret,
              Intent.PublishableKey,
              dotNetHelper,
              _baseUrl
            );
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error creating PaymentIntent: {ex.Message}");
            StateHasChanged();
        }
    }

    [JSInvokable]
    public Task HandlePaymentSuccess()
    {
        Console.WriteLine("Payment successful signal received from JavaScript.");
        return InvokeAsync(StateHasChanged);
    }
}
