<h5>Summary</h5>
<div>
    <dl>
        <div class="row">
            <dt>Sub Total</dt>
            <dd>$ 9.99</dd>
        </div>
        <div class="row discount">
            <dt>Discount</dt>
            <dd>$ 0</dd>
        </div>
        <div class="row">
            <dt>Tax</dt>
            <dd>$ 0</dd>
        </div>
        <div class="divider"></div>
        <div class="row total">
            <dt>Total</dt>
            <dd>$ 9.99</dd>
        </div>
    </dl>
</div>

@code {
    
}
