
<div class="community-cta">
    <div class="community-card left">
        <div class="card-header">
            <h6 class="semi-bold">Individuals</h6>
            <p>
                Join our community to receive project updates, individual position openings, and other Sparc news.
            </p>
        </div>
        <div class="community-signup">
            <p>Join our community</p>
            <div class="community-join">
                <input @bind="@EmailAddress" placeholder="Your Email"/>
                <button @onclick="SendEmail" class="btn-large">Join</button>
            </div>
        </div>
    </div>
    <div class="community-card right">
        <div class="sparc-badge">
            <img src="/images/sparc-approved-badge-2x 1.png" />
        </div>
        <div class="card-header">
            <h6 class="semi-bold">Companies</h6>
            <p>
                As a company, you have the ability to lead your team, and other teams, by example. Partner 
                with us to expand our cooperative and proudly show your peers that you are a fair, equitable company.
            </p>
        </div>
        <div class="community-signup">
            <p>Join our movement</p>
            <div class="community-join">
                <a href="mailto:info@sparc.coop?subject=Sparc Align Partner Application">Apply to Sparc</a>
            </div>
        </div>
    </div>
</div>

@code {
    string? EmailAddress;
    
    async Task SendEmail()
    {
        if (EmailAddress != null)
        {
            await RegisterForCommunity.ExecuteAsync(new(EmailAddress));
        }
    }
}