
<div class="community-cta">
    <div class="community-card left">
        <img class="hero" src="./images/Icons.svg" />
        <div class="card-header">
            <h6 class="semi-bold">Individuals</h6>
            <p>
                At an individual level, we want to provide guidance, resources and anything else we 
                can to help you find similar companies, fit into our projects or build your own.
            </p>
        </div>
        <div class="community-signup">
            <div class="community-join">
                <input @bind="@EmailAddress" placeholder="Your Email"/>
                <button @onclick="SendEmail" class="btn-red">Join</button>
            </div>
        </div>
    </div>
    <div class="community-card right">
        <div class="sparc-badge">
            <img src="/images/sparc-approved-badge-2x 1.png" />
        </div>
        <div class="card-header">
            <h6 class="semi-bold">Companies</h6>
            <p>
                As a company, you have the ability to lead your team, and other teams, by example. Partner with us to expand our cooperative and proudly show your peers that you are a fair, equitable company.
            </p>
        </div>
        <div class="community-signup">
            <div class="community-join">
                <a class="btn-red" href="mailto:info@sparc.coop?subject=Sparc Align Partner Application">Join Sparc Movement</a>
            </div>
        </div>
    </div>
</div>

@code {
    string? EmailAddress;
    
    async Task SendEmail()
    {
        if (EmailAddress != null)
        {
            await RegisterForCommunity.ExecuteAsync(new(EmailAddress));
        }
    }
}