.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 40px;
}

section {
  padding-top: 160px;
  padding-bottom: 200px;
}

section:last-of-type {
  padding-bottom: 100px;
}

.section-tag {
  padding: 10px 16px;
  box-shadow: -10px 2px 4px rgba(16, 45, 71, 0.02);
  font-style: italic;
  max-width: fit-content;
  margin-bottom: 32px;
}

.values-tag {
  background: white;
}
.values-tag p {
  color: var(--error-500);
}

.project-tag {
  background: white;
}
.project-tag p {
  color: var(--error-500);
}

.community-tag {
  background: #EBF2FF;
}
.community-tag p {
  color: var(--tertiary-500);
}

.resources-tag {
  background: #FFECEB;
}
.resources-tag p {
  color: var(--primary-500);
}

.blog-tags {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}
.blog-tags .tag {
  border: 1px solid rgba(104, 105, 110, 0.5);
  border-radius: 100px;
  box-shadow: -10px 2px 4px rgba(16, 45, 71, 0.02);
  color: var(--primary-900);
  background: white;
  font-weight: 400;
}

.project-card .card-tags-wrapper {
  display: flex;
  justify-content: space-between;
}
.project-card .card-tags-wrapper .card-tags button {
  border: none;
  color: #0C0662;
  background: var(--secondary-500);
  border-radius: 100px;
}
.project-card .card-tags-wrapper .card-tags button:hover {
  background: var(--secondary-300);
}
.project-card .card-tags-wrapper .card-github button {
  padding: 4px 14px 3px 14px;
  background: #FFFFFF;
  border: 1px solid #9FA0A3;
  border-radius: 100px;
  opacity: 0.75;
}
.project-card .card-tags-wrapper .card-github button img {
  width: 15px;
  opacity: 0.75;
}

button {
  background: var(--grey-900);
  border-radius: 100px;
  font-size: 16px;
  font-style: italic;
}

.btn-large {
  padding: 16px 32px;
}

.btn-small {
  padding: 6px 14px;
  box-shadow: -10px 2px 4px rgba(16, 45, 71, 0.02);
  font-size: 14px;
  line-height: 16px;
}

.cta-box {
  padding: 24px 32px;
  background: #FFB600;
  border: 1px solid var(--grey-900);
  border-radius: 24px;
  max-width: 562px;
  margin: 0 auto;
}
.cta-box .box-header {
  margin-bottom: 16px;
}

.cta-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cta-flex .profile-pics-wrapper {
  display: flex;
}
.cta-flex .profile-pic {
  max-width: 40px;
  max-height: 40px;
  border-radius: 1000px;
  margin-left: -10px;
}
.cta-flex button {
  background: var(--grey-900);
  border-radius: 100px;
  font-size: 16px;
  font-style: italic;
}

.hero-header {
  padding: 138px 0;
  background: #F2EDDF;
}

.project-card {
  background: white;
  padding: 32px;
  border-radius: 24px;
  margin-bottom: 32px;
}
.project-card .image-wrapper {
  margin-bottom: 24px;
}
.project-card .image-wrapper img {
  width: 100%;
}
.project-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.project-card .card-header .image-wrapper {
  margin-bottom: 0;
}
.project-card .card-tags-wrapper {
  margin-top: 20px;
}

.community {
  padding-bottom: 100px;
}
.community .header {
  margin-bottom: 56px;
  max-width: 50%;
}
.community .card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.community .card-wrapper .community-card {
  background: #F2EDDF;
  border-radius: 24px;
  padding: 48px 40px 40px;
}
.community .card-wrapper .community-card.badge {
  position: relative;
}
.community .card-wrapper .community-card.badge .sparc-badge {
  position: absolute;
  left: 40px;
  top: -18px;
}
.community .card-wrapper .community-card .cta-flex {
  margin-bottom: 36px;
}
.community .card-wrapper .community-card .card-header {
  margin-bottom: 48px;
}
.community .card-wrapper .community-card .card-header h6 {
  margin-bottom: 12px;
}
.community .card-wrapper .community-card .community-signup p {
  margin-bottom: 8px;
}
.community .card-wrapper .community-card .community-signup .community-join {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.community .card-wrapper .community-card .community-signup .community-join input {
  height: 48px;
  padding: 12px 24px;
  background: white;
  border: 1px solid var(--primary-300);
  border-radius: 100px;
  width: 100%;
}
.community .card-wrapper .community-card .community-signup .community-join button {
  background: #FF756A;
  color: white;
  border: none;
  border-radius: 100px;
}
.community .card-wrapper .badge .card-header {
  margin-top: 72px;
}

body {
  font-family: "NeueHaasDisplayRoman";
  font-weight: 400;
}
body h1, body h2, body h3, body h4, body h5, body h6, body .subtitle-large {
  font-family: "NeueHaasDisplayMedium";
}
body .title-1 {
  font-size: 68px;
  line-height: 120%;
}
body .title-2 {
  font-size: 24px;
}
body .subtitle-small {
  font-size: 14px;
}
body .subtitle-medium {
  font-size: 20px;
}
body .subtitle-large {
  font-size: 32px;
}
body p, body a, body button {
  font-family: "NeueHaasDisplayRoman";
}
body button {
  text-align: center;
  line-height: 100%;
}
body .label, body input, body button {
  font-size: 16px;
}
body .link-small {
  font-size: 14px;
}
body .link-medium {
  font-size: 20px;
}
body .link-large {
  font-size: 32px;
}
body .semi-bold {
  font-weight: 500;
}
body .bold {
  font-weight: 600;
}
@media only screen and (max-width: 760px) {
  body .title-1 {
    font-size: 55px;
  }
  body .title-2 {
    font-size: 20px;
  }
  body .subtitle-small {
    font-size: 14px;
  }
  body .subtitle-medium {
    font-size: 20px;
  }
  body .subtitle-large {
    font-size: 28px;
  }
  body .label, body input, body button {
    font-size: 16px;
  }
  body .link-small {
    font-size: 14px;
  }
  body .link-medium {
    font-size: 18px;
  }
  body .link-large {
    font-size: 26px;
  }
}
@media only screen and (max-width: 480px) {
  body .title-1 {
    font-size: 48px;
  }
  body .title-2 {
    font-size: 20px;
  }
  body .subtitle-medium {
    font-size: 16px;
  }
  body .subtitle-large {
    font-size: 20px;
  }
  body .label, body input, body button {
    font-size: 14px;
  }
  body .link-medium {
    font-size: 16px;
  }
  body .link-large {
    font-size: 20px;
  }
}

@font-face {
  font-family: "NeueHaasDisplayThin";
  font-weight: 100;
  src: url(../fonts/NeueHaasDisplayThin.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayThinItalic";
  font-weight: 100;
  src: url(../fonts/NeueHaasDisplayThinItalic.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayLight";
  font-weight: 300;
  src: url(../fonts/NeueHaasDisplayLight.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayLightItalic";
  font-weight: 300;
  src: url(../fonts/NeueHaasDisplayLightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  font-weight: 400;
  src: url(../fonts/NeueHaasDisplayRoman.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayRomanItalic";
  font-weight: 400;
  src: url(../fonts/NeueHaasDisplayRomanItalic.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayMedium";
  font-weight: 500;
  src: url(../fonts/NeueHaasDisplayMedium.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayMediumItalic";
  font-weight: 500;
  src: url(../fonts/NeueHaasDisplayMediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayBold";
  font-weight: 700;
  src: url(../fonts/NeueHaasDisplayBold.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayBoldItalic";
  font-weight: 700;
  src: url(../fonts/NeueHaasDisplayBoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayBlack";
  font-weight: 900;
  src: url(../fonts/NeueHaasDisplayBlack.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayBlackItalic";
  font-weight: 900;
  src: url(../fonts/NeueHaasDisplayBlackItalic.ttf) format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  font-weight: 500;
  src: url(../fonts/IBMPlexSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  font-weight: 500;
  src: url(../fonts/IBMPlexSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-MediumItalic";
  font-weight: 500;
  src: url(../fonts/IBMPlexSans-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Regular";
  font-weight: 500;
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  font-weight: 600;
  src: url(../fonts/IBMPlexSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  font-weight: 600;
  src: url(../fonts/IBMPlexSans-SemiBoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Bold";
  font-weight: 700;
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-BoldItalic";
  font-weight: 700;
  src: url(../fonts/IBMPlexSans-BoldItalic.ttf) format("truetype");
}
nav .nav-desktop {
  padding: 32px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F2EDDF;
}
nav .nav-desktop .logo {
  flex: 1;
  margin-right: 10px;
}
nav .nav-desktop .logo img {
  max-width: 114px;
}
nav .nav-desktop .nav-links-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  background: white;
  border-radius: 100px;
  padding: 10px 24px;
}
nav .nav-desktop .nav-links-wrapper a {
  font-family: "NeueHaasDisplayRoman";
}
nav .nav-desktop .community-join {
  flex: 1;
}
nav .nav-desktop .community-join .profile-pics-wrapper {
  margin-right: 10px;
  margin-left: 20px;
}
nav .nav-desktop .community-join .profile-pics-wrapper .profile-pic {
  margin-right: 12px;
  max-width: 14px;
  max-height: 20px;
}
nav .nav-desktop .community-join .profile-pics-wrapper .profile-pic img {
  max-width: 24px;
  max-height: 24px;
}
nav .nav-desktop .community-join button {
  padding: 10px 24px;
  background: #FF756A;
  border: none;
  font-family: "NeueHaasDisplayMedium";
  font-size: 14px;
  font-style: normal;
  text-align: center;
}
nav .menu-toggle {
  display: none;
}
nav input.menu-toggle {
  display: none;
}
nav .nav-mobile {
  display: none;
}
@media only screen and (max-width: 760px) {
  nav {
    position: relative;
    overflow: hidden;
  }
  nav .nav-desktop {
    display: none;
  }
  nav .menu-toggle {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 60;
  }
  nav input.menu-toggle {
    display: none;
  }
  nav input.menu-toggle:not(:checked) {
    background: #F2EDDF;
  }
  nav input.menu-toggle:not(:checked) ~ label {
    position: fixed;
  }
  nav input.menu-toggle:not(:checked) ~ label span:last-child {
    display: none;
  }
  nav input.menu-toggle:not(:checked) ~ .nav-mobile {
    width: 100vw;
    background: #F2EDDF;
    position: fixed;
    z-index: 20;
  }
  nav input.menu-toggle:not(:checked) ~ .nav-mobile .menu {
    display: none;
  }
  nav input.menu-toggle:not(:checked) ~ .nav-mobile .community-join {
    display: none;
  }
  nav input.menu-toggle:not(:checked) ~ .nav-mobile .community-join button {
    display: none;
  }
  nav input.menu-toggle:checked {
    background: #FFFFFF;
  }
  nav input.menu-toggle:checked ~ label {
    position: fixed;
    z-index: 60;
  }
  nav input.menu-toggle:checked ~ label span:first-child {
    display: none;
  }
  nav input.menu-toggle:checked ~ .nav-mobile {
    background: #FFFFFF;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 96px);
  }
  nav input.menu-toggle:checked ~ .nav-mobile .menu {
    display: block;
    overflow: scroll;
    height: 100%;
  }
  nav input.menu-toggle:checked ~ .nav-mobile .community-join {
    background: #F2EDDF;
    overflow: hidden;
  }
  nav label.menu-toggle {
    background: transparent;
  }
  nav label.menu-toggle i {
    font-size: 20px;
  }
  nav .nav-mobile {
    display: block;
    align-items: center;
    background: #FFFFFF;
    z-index: 50;
    overflow: hidden;
  }
  nav .nav-mobile .logo {
    padding: 18px 25px;
    flex: 1;
  }
  nav .nav-mobile .logo img {
    max-width: 93px;
  }
  nav .nav-mobile .menu {
    width: 100vw;
    padding: 96px 0;
    background: #FFFFFF;
    text-align: center;
  }
  nav .nav-mobile .menu li {
    margin-bottom: 100px;
  }
  nav .nav-mobile .menu li a {
    font-family: "NeueHaasDisplayRoman";
    font-size: 24px;
  }
  nav .nav-mobile .community-join {
    overflow: hidden;
    width: 100vw;
    padding: 25px 18px;
    background: #F2EDDF;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  nav .nav-mobile .community-join button {
    padding: 10px 24px;
    border-radius: 50px;
    font-family: "NeueHaasDisplayThin";
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  nav .nav-mobile .community-join button.log-in {
    background: transparent;
    border: 1px solid #FF756A;
    color: #FF756A;
  }
  nav .nav-mobile .community-join button.join-community {
    background: #FF756A;
    border: none;
  }
}

/*       &.mobile {
            width: 100%;
            height: 50px;
            display: block;
            padding: 15px 25px 15px 20px;
            background: $yellow-100;
            position: fixed;
            top: 0;
            z-index: 50;

            .logo {
                position: relative;
                width: 50px;
                z-index: 50;
            }

            label.menu-toggle {
                background: $yellow-100;
                position: absolute;
                top: 15px;
                right: 25px;
                z-index: 50;

                i {
                    font-size: 20px;
                }
            }

            input.menu-toggle {
                display: none;

                &:not(:checked) {
                    & ~ label span:last-child {
                        display: none;
                    }

                    & ~ .nav-menu {
                        background: $yellow-100;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 0;
                        z-index: 20;
                    }

                    & ~ .nav-menu ul {
                        margin-top: 40px;
                    }
                }

                &:checked {
                    & ~ label span:first-child {
                        display: none;
                    }

                    & ~ .menu {
                        background: $yellow-100;
                        float: right;
                        width: 100vw;
                        height: 100vh;
                    }

                    & ~ label {
                        position: fixed;
                    }
                }
            }
               .menu {
                overflow: hidden;
                margin: 0px -25px 0 -20px;
                padding-top: 25px;
                display: block;
                background: $background;
                position: fixed;
                top: 40px;
                right: 25px;
                z-index: 20;
                transition: width 600ms, height 600ms;

                ul {
                    background: $background;
                    overflow: hidden;

                    li {
                        width: 100%;
                        margin-bottom: 8px;

                        &:active {
                            background: $secondary-300;
                        }

                        a.log-in {
                            width: 80%;
                            min-width: 200px;
                            margin: 0px 0px 6px 45px;
                            padding: 5px 20px;
                            border: 1px solid $gray;
                            border-radius: 5px;
                            font-size: 16px;
                            line-height: 24px;
                            text-decoration: none;
                            text-align: center;
                            transition: color 0ms, background 300ms ease-in-out;

                            &:hover {
                                color: $gray;
                                cursor: pointer;
                                transform: scale(103%);
                            }
                        }

                        a.get-started {
                            width: 80%;
                            min-width: 200px;
                            margin: 6px 0px 0px 45px;
                            padding: 5px 20px;
                            border: 1px solid $primary-500;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: center;
                            transition: 200ms ease-in-out;

                            &:hover {
                                cursor: pointer;
                                transform: scale(103%);
                            }
                        }
                    }
                }
            }
*/
.homepage .center {
  text-align: center;
}
.homepage .home-hero {
  padding-top: 122px;
  padding-bottom: 24px;
  background: #F2EDDF;
  position: relative;
}
.homepage .home-hero .header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 72px;
}
.homepage .home-hero .header h1 {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 16px;
  font-size: 96px;
  line-height: 115px;
}
.homepage .home-hero .header p.title-2 {
  width: 70%;
  max-width: 592px;
  margin: 0 auto;
  font-family: "IBMPlexSans-Medium";
  line-height: 38px;
}
.homepage .home-hero .header span.invert {
  font-family: "NeueHaasDisplayMedium";
  color: #F2EDDF;
  -webkit-text-stroke: 2px #111321;
}
.homepage .home-hero .hero-graphic {
  display: block;
  text-align: center;
  margin-bottom: 72px;
}
.homepage .home-hero .cta-box p.subtitle-small {
  font-family: "NeueHaasDisplayMedium";
  font-size: 14px;
}
.homepage .home-hero .cta-box .cta-flex {
  justify-content: space-between;
}
.homepage .home-hero .learn-more {
  margin: 0 auto;
  margin-top: 122px;
  text-align: center;
}
.homepage .home-hero .learn-more a:hover {
  cursor: pointer;
}
.homepage .home-hero .learn-more p {
  margin-bottom: 24px;
}
.homepage .home-hero .learn-more img {
  max-height: 24px;
}
.homepage .mission {
  padding-bottom: 112px;
}
.homepage .mission-wrapper {
  width: 70%;
  max-width: 592px;
  margin: 0 auto;
}
.homepage .mission-wrapper:first-child {
  margin-bottom: 160px;
}
.homepage .mission-icon {
  margin-bottom: 38px;
}
.homepage .mission-content h5.subtitle-large {
  margin-bottom: 48px;
}
.homepage .values {
  padding-bottom: 160px;
  background: #F2EDDF;
}
.homepage .values .container {
  padding-bottom: 0px;
  position: relative;
}
.homepage .values-tag {
  margin: 0 auto;
  margin-bottom: 24px;
  background: #FFFFFF;
}
.homepage .values-tag p {
  color: var(--error-500);
}
.homepage .values .header {
  width: 70%;
  max-width: 592px;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
}
.homepage .values .card-wrapper {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  text-align: center;
}
.homepage .values .card-wrapper .card-value {
  width: 384px;
  background: white;
  padding: 56px 40px 40px;
  border-radius: 24px;
}
.homepage .values .card-wrapper .card-value .icon {
  margin-bottom: 32px;
}
.homepage .values .card-wrapper .card-value .subtitle-large {
  margin-bottom: 12px;
}
.homepage .values .project-wrapper {
  max-width: 1216px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
}
.homepage .values .project-wrapper .left {
  width: 592px;
  position: relative;
}
.homepage .values .project-wrapper .left h5.subtitle-large {
  margin-bottom: 55px;
}
.homepage .values .project-wrapper .left a {
  padding: 12px 24px;
  border-radius: 100px;
  background: #111321;
  color: #FFFFFF;
  font-family: "NeueHaasDisplayRomanItalic";
  font-size: 20px;
}
.homepage .values .project-wrapper .left a img {
  margin-left: 10px;
}
.homepage .values .project-wrapper .right {
  width: 520px;
  margin: 0 auto;
}
.homepage .values .project-wrapper .right .card-wrapper {
  max-width: 1216px;
  margin-bottom: 0px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.homepage .values .project-wrapper .right .card-wrapper .project-card {
  width: 100%;
  margin-bottom: 0px;
}
.homepage .values .project-wrapper .right .card-wrapper .project-card .card-content .image-wrapper {
  position: relative;
}
.homepage .values .project-wrapper .right .card-wrapper .project-card .card-content .image-wrapper img.project-status {
  position: absolute;
  top: 8px;
  right: 8px;
}
.homepage .values .project-wrapper .right .card-wrapper .project-card .card-content .image-wrapper img.in-progress {
  width: 109px;
}
.homepage .values .project-wrapper .right .card-wrapper .project-card .card-content .image-wrapper img.live {
  width: 67px;
}
.homepage .values .project-wrapper .right .card-wrapper .project-card .card-content h5 {
  font-size: 24px;
}
.homepage .values .project-wrapper .right .card-wrapper .project-card .card-content p {
  font-size: 14px;
}
.homepage .values .project-wrapper .right .card:last-child {
  margin-bottom: 0;
}
.homepage .community {
  padding-bottom: 100px;
}
.homepage .community .header {
  max-width: 1216px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.homepage .community .header h5.subtitle-large {
  max-width: 592px;
}
.homepage .community .card-wrapper {
  max-width: 1216px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.homepage .community .card-wrapper .cta-flex {
  display: block;
  padding-left: 10px;
}
.homepage .community .card-wrapper .community-card {
  min-height: 418px;
  width: 592px;
}
.homepage .community .card-wrapper .community-signup p {
  line-height: 21px;
}
.homepage .community .card-wrapper .community-signup .community-join {
  flex-wrap: wrap;
}
.homepage .community .card-wrapper .community-signup .community-join input {
  width: 75%;
  min-width: 200px;
  border: #7A7B7F;
  line-height: 16px;
  color: #68696E;
  opacity: 0.5;
}
@media only screen and (max-width: 578px) {
  .homepage .community .card-wrapper .community-signup .community-join input {
    width: 100%;
  }
}
.homepage .resources {
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 290px;
}
.homepage .resources .header {
  max-width: 1216px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.homepage .resources .header h5.subtitle-large {
  max-width: 592px;
}
.homepage .resources .blog-wrapper {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
.homepage .resources .blog-wrapper .blog-card {
  width: 100%;
  max-width: 384px;
}
.homepage .resources .blog-wrapper .blog-card .blog-image {
  max-width: 384px;
  border-radius: 12px;
  margin-bottom: 28px;
}
.homepage .resources .blog-wrapper .blog-card .blog-image img {
  width: 100%;
}
@media only screen and (max-width: 760px) {
  .homepage {
    margin-top: 63px;
  }
  .homepage section {
    padding-top: 64px;
  }
  .homepage .values, .homepage .community, .homepage .resources {
    text-align: center;
  }
  .homepage .section-tag {
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .homepage .home-hero .header h1 {
    font-family: "NeueHaasDisplayBold";
    font-size: 70px;
    line-height: 120%;
    margin-bottom: 16px;
  }
  .homepage .home-hero .header .invert {
    font-family: "NeueHaasDisplayBold";
  }
  .homepage .home-hero .header p.title-2 {
    font-family: "IBMPlexSans-SemiBold";
    line-height: 150%;
  }
  .homepage .mission {
    padding-top: 64px;
    padding-bottom: 16px;
  }
  .homepage .mission-wrapper {
    width: 100%;
  }
  .homepage .mission img {
    width: 46px;
  }
  .homepage .mission-wrapper {
    width: 80%;
    padding: 0 7px;
  }
  .homepage .mission-wrapper:first-child {
    margin-bottom: 64px;
  }
  .homepage .mission-icon {
    margin-bottom: 38px;
  }
  .homepage .mission-content h5.subtitle-large {
    margin-bottom: 48px;
  }
  .homepage .mission-content:last-child {
    margin-bottom: 0px;
  }
  .homepage .mission-content:last-child {
    margin-bottom: 0px;
  }
  .homepage .values {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .homepage .values .header {
    width: 100%;
    margin-bottom: 48px;
  }
  .homepage .values .project-wrapper {
    gap: 84px;
  }
  .homepage .values .project-wrapper .left {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .homepage .community {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .homepage .community .card-wrapper {
    margin-top: 124px;
    flex-direction: column-reverse;
  }
  .homepage .community .card-wrapper .community-card {
    width: 100%;
  }
  .homepage .community .card-wrapper .community-card.badge .sparc-badge {
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .homepage .community .card-wrapper .community-card.badge .card-header {
    /*                            margin-top: 32px;
    */
  }
  .homepage .community .card-wrapper .community-card .community-signup .community-join {
    justify-content: center;
    display: block;
    flex-wrap: nowrap;
  }
  .homepage .community .card-wrapper .community-card .community-signup .community-join input {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    text-align: left;
  }
  .homepage .community .card-wrapper button {
    display: block;
    width: 100%;
    font-family: "NeueHaasDisplayMedium";
  }
  .homepage .resources {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .homepage .resources p.title-2 {
    text-align: left;
  }
  .homepage .resources .blog-card .blog-tags {
    justify-content: center;
  }
  .homepage .resources .blog-card p.title-2 {
    text-align: center;
  }
}
@media only screen and (max-width: 760px) and (max-width: 480px) {
  .homepage {
    margin-top: 63px;
  }
  .homepage .home-hero {
    padding-top: 32px;
    padding-bottom: 60px;
  }
  .homepage .home-hero .header {
    margin-bottom: 32px;
  }
  .homepage .home-hero .header h1 {
    width: 100%;
    font-size: 48px;
    line-height: 120%;
  }
  .homepage .home-hero .header p.title-2 {
    width: 100%;
    font-size: 16px;
  }
  .homepage .home-hero .cta-box {
    text-align: center;
    min-width: 200px;
  }
  .homepage .home-hero .cta-box .cta-flex {
    display: block;
    text-align: center;
  }
  .homepage .home-hero .cta-box .cta-flex .profile-pics-wrapper {
    justify-content: center;
    margin-bottom: 18px;
  }
  .homepage .home-hero .learn-more {
    margin-top: 64px;
  }
  .homepage .mission {
    padding-bottom: 17px;
  }
  .homepage .mission-wrapper {
    width: 100%;
  }
  .homepage .mission-icon {
    margin-bottom: 38px;
  }
  .homepage .mission-content h5.subtitle-large {
    margin-bottom: 48px;
  }
  .homepage .values {
    padding-bottom: 64px;
  }
  .homepage .community .profile-pics-wrapper {
    justify-content: center;
  }
}

.project-list-page .hero-header {
  text-align: center;
}
.project-list-page .hero-header .header {
  max-width: 50%;
  margin: auto;
}
.project-list-page .hero-header .header .image-wrapper {
  margin-bottom: 8px;
}
.project-list-page .hero-header .header .title-1 {
  margin-bottom: 26px;
}
.project-list-page .hero-header .header .project-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 76%;
  margin: auto;
}
.project-list-page .hero-header .header .project-tags .tag {
  border: 1px solid #FF756A;
  background: inherit;
  color: #FF756A;
  border-radius: 100px;
}
.project-list-page .project-list-wrapper .container {
  padding: 0 30px;
}
.project-list-page .project-list-wrapper .list-wrapper .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.project-list-page .project-list-wrapper .list-wrapper .filters select {
  max-width: 124px;
}
.project-list-page .project-list-wrapper .list-wrapper .project-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
  flex-wrap: wrap;
}
.project-list-page .project-list-wrapper .list-wrapper .project-list .project-card {
  margin-bottom: 0px;
  padding: 0px;
  max-width: calc(53% - 64px);
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 76%;
  margin: auto;
}
.project-tags .tag {
  border: 1px solid #FF756A;
  background: inherit;
  color: #FF756A;
  border-radius: 100px;
}

.project-page .hero-header .header {
  max-width: 32%;
  margin: 0 auto;
}
.project-page .hero-header .header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}
.project-page .hero-header .header .cta-flex {
  justify-content: center;
  margin-top: 40px;
}
.project-page .hero-header .header .cta-flex .profile-pic {
  max-width: 24px;
  max-height: 20px;
}
.project-page .hero-header .header .cta-flex .profile-pic img {
  max-width: 24px;
  max-height: 24px;
}
.project-page .timeline .wrapper {
  position: relative;
  max-width: 26%;
  margin: 0 auto;
}
.project-page .timeline .wrapper .timeline-sidebar {
  position: absolute;
  left: -64px;
  top: 0;
}
.project-page .timeline .wrapper .header {
  margin-bottom: 30px;
}
.project-page .timeline .wrapper .header p {
  color: var(--primary-500);
}
.project-page .timeline .wrapper .timeline-item {
  margin-bottom: 34px;
}
.project-page .timeline .wrapper .timeline-item .item-header {
  margin-bottom: 10px;
}
.project-page .timeline .wrapper .timeline-item .item-header .title-2 {
  line-height: 32px;
}
.project-page .timeline .wrapper .timeline-item .item-header .timeline-date {
  color: var(--primary-500);
  line-height: 21px;
}
.project-page .timeline .wrapper .timeline-item:nth-last-child(-n+2) {
  margin-bottom: 94px;
}
.project-page .timeline .wrapper .read-more {
  text-align: center;
  max-width: 220px;
  margin: auto;
}
.project-page .timeline .wrapper .read-more button {
  width: 100%;
  background: white;
  border: 1px solid var(--primary-900);
  color: var(--primary-900);
}
.project-page .resources .header {
  text-align: center;
  max-width: 100%;
}
.project-page .resources .header h3 {
  margin-bottom: 8px;
}

.blog-list-page .blog-hero {
  max-width: 72%;
  margin: auto;
}
.blog-list-page .blog-hero .title {
  max-width: 48%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.blog-list-page .blog-hero .title .title-1 {
  text-align: center;
}
.blog-list-page .blog-featured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  padding-top: 0;
}
.blog-list-page .blog-featured .left {
  width: 100%;
}
.blog-list-page .blog-featured .left img {
  width: 100%;
}
.blog-list-page .blog-featured .right {
  max-width: 49%;
}
.blog-list-page .blog-featured .right .wrapper {
  max-width: 58%;
}
.blog-list-page .blog-featured .right .wrapper .title {
  margin-bottom: 40px;
}
.blog-list-page .blog-featured .right .wrapper .title h5 {
  margin-bottom: 40px;
}
.blog-list-page .blog-grid {
  padding-top: 0;
}
.blog-list-page .blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
  grid-gap: 32px;
}
.blog-list-page .blog-list .blog-card .card-image {
  margin-bottom: 12px;
}
.blog-list-page .blog-list .blog-card .card-image img {
  width: 100%;
}
.blog-list-page .blog-list .blog-card .title {
  margin-bottom: 12px;
}
.blog-tags {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.blog-tags p {
  color: var(--primary-500);
}
.blog-tags .seperation-line {
  border: 1px solid #FF756A;
  width: 1px;
  height: 14px;
  margin: 0 8px;
}

.posted {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.posted p {
  color: var(--primary-500);
}

.blog-page .container {
  max-width: 1024px;
}
.blog-page .blog .title {
  text-align: center;
  margin-bottom: 50px;
}
.blog-page .blog .posted {
  margin-bottom: 40px;
}
.blog-page .blog .blog-image {
  border-radius: 6px;
  margin-bottom: 80px;
}
.blog-page .blog .blog-image img {
  width: 100%;
}
.blog-page .blog .blog-content div {
  text-align: center;
  margin-top: 80px;
}
.blog-page .blog .blog-content div button {
  background: var(--grey-900);
  color: white;
  border-radius: 100px;
}
.blog-page .blog-card {
  width: 100%;
  max-width: 456px;
}
