@page "/"

<PageTitle>Sparc</PageTitle>

<section class="home">
    <div>
        <h1>Striving for a world where startups are owned by those who built it <button><ArrowRightIcon /></button></h1>        
    </div>
    <div class="mosaic-container">
        <img src="images/LogoMosaic.png" class="mosaic" />
    </div>
</section>