@page "/"

<PageTitle>Sparc</PageTitle>

<section>
    <div>
        <h1>Striving for a world where startups are owned by those who built it <button><ArrowRightIcon /></button></h1>        
    </div>
    <Mosaic />
</section>