section {
  height: calc(100vh + 1px);
  overflow: hidden;
  position: relative;
}
section .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 9rem 6.3rem 0 6.3rem;
}
section .hero div {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .hero #hero-text {
  padding: 20px;
  animation: fadeIn 3s ease-in-out;
}
section .hero #hero-text h1 {
  max-width: 750px;
  margin: 0;
  color: var(--purple-800);
  font-size: 89px;
  letter-spacing: -1.795px;
}
section .hero #hero-text h1 button {
  background: none;
  cursor: pointer;
  border: 1px solid transparent;
}
section .hero #hero-text.faded {
  background: -webkit-linear-gradient(#FF5A08, #3F256B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.75;
}
section .hero #mosaic-container {
  width: 50%;
  animation: fadeInScaleUp 2s ease-in-out;
}
section .hero #mosaic-container img {
  width: 100%;
}
section #scroll-text {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  animation: fadeIn 6s ease-in-out;
  cursor: pointer;
}
section #scroll-text p {
  font-size: 1.2rem;
  color: var(--purple-800);
  letter-spacing: 0.4px;
}
section #scroll-text ::deep svg {
  width: 14px;
  height: 14px;
  transform: rotate(-90deg);
  animation: bounce 2s infinite;
}
section #scroll-text ::deep svg path {
  stroke: var(--purple-800);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(-90deg);
  }
  40% {
    transform: translateY(8px) rotate(-90deg);
  }
  60% {
    transform: translateY(4px) rotate(-90deg);
  }
}
