@page "/"

<PageTitle>Sparc</PageTitle>

<section id="home">
    <div class="hero">
        <div id="hero-text">
            <h1>
                Striving for a world where startups are owned by those who built it 
                <button id="enter-btn">
                    <ArrowRightIcon />
                    <ArrowDownIcon />
                </button>
            </h1>
        </div>
        <div id="mosaic-container">
            <img src="images/LogoMosaic-withbackground.png" id="mosaic" />
        </div>
    </div>
    <div id="scroll-text">
        <p>scroll down, click, or press enter to explore ideas</p>
        @* <ArrowLeftIcon /> *@
    </div>
</section>