@using Sparc.Core.Billing
<h3>ProductKey</h3>

@code {
    [Parameter] public required SparcOrder Order { get; set; }

    protected override async Task OnInitializedAsync()
    {
                
    }
}

