section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-inline-size: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;

    > img {
        width: 132px;
    }
}

h1 {
    font-family: var(--Serif);
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: -0.12631rem;
}

p {
    font-size: 1.4rem;
    line-height: 160%;
}

article.galaxy {
    background-image: url('/img/galaxy.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 460px;
    position: relative;

    footer {
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        background-color: rgba(0, 0, 0, 0.85);
        padding: 16px;
        font-family: var(--Serif);
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        gap: 16px;

        > div > div {
            display: inline-block;
        }
    }
}

@media (orientation: landscape) {
    h1 {
        font-size: 6.73rem;
        line-height: 104%;
    }
}


.typewriter {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s steps(40, end), blink-caret 0.7s step-end 3;
}

.forming-1 {
    width: 175px;

    &.done {
        opacity: 0.3;
    }
}

.forming-3 {
    animation: forming2 0.6s;
    display: flex;

    label {
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
    }

    input[type=radio] {
        height: 0;
        width: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        margin-right: 12px;
    }

        input[type=radio]:checked {
            border-left: 8px solid white;
        }
}

.forming-5 {
    animation: forming2 3s;

    label {
        display: flex;
        white-space: nowrap;
        gap: 16px;
    }

    input {
        outline: none;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

@keyframes forming2 {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

ul {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    li {
        background-color: #081b4b;
        border-radius: 8px;
        border: 3px solid #152959;
        padding: 16px;
        padding-top: 32px;
        position: relative;

        > button {
            position: absolute;
            top: -8px;
            right: 0px;
            background-color: transparent;
            color: white;
        }

        a {
            color: inherit;
        }
    }
}
