section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-inline-size: 800px;
    margin: 32px auto;
}

article {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
