section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

header {
    margin-top : 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    font-family: var(--Font-Serif);
    font-size: 4.20875rem;
    font-weight: 400;
    letter-spacing: -0.12631rem;
}


ul {
    margin: 32px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: max(320px, 40vw);
    padding: 32px;
    background: white;
    border-left: 1px solid #CCC;
    overflow-y: auto;

    ul {
        padding-left: 16px;
    }

    ::deep h3 {
        margin-top: 16px;
        border-top: 1px solid black;
    }
}