section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-inline-size: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;

    > img {
        width: 132px;
    }
}

h1 {
    font-family: var(--Serif);
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: -0.12631rem;
}

p {
    font-size: 1.4rem;
    line-height: 160%;
}

article.galaxy {
    background-image: url('/img/galaxy.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 460px;
}

@media (orientation: landscape) {
    h1 {
        font-size: 6.73rem;
        line-height: 104%;
    }
}

ul {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    li {
        background-color: #081b4b;
        border-radius: 8px;
        border: 3px solid #152959;
        padding: 16px;
        padding-top: 32px;
        position: relative;

        > button {
            position: absolute;
            top: -8px;
            right: 0px;
            background-color: transparent;
            color: white;
        }

        a {
            color: inherit;
        }
    }
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: max(320px, 40vw);
    padding: 32px;
    background: white;
    border-left: 1px solid #CCC;
    overflow-y: auto;

    ul {
        padding-left: 16px;
    }

    ::deep h3 {
        margin-top: 16px;
        border-top: 1px solid black;
    }
}
