form {
    border: 3px solid white;
    border-radius: 16px;
    padding: 8px;
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    gap: 16px;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
}

textarea {
    width: 100%;
    min-block-size: 40px;
    padding: 8px 16px;
    outline: none;
}

button {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    display: none;
}
