@page "/"
@using Sparc.UI

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"  />
    <title>Sparc</title>
    <base href="~/" />
    <link rel="stylesheet" type="text/css" href="https://api.kodekit.io/greffe-winterweight.css">
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(Sparc.UI.App)" render-mode="WebAssemblyPrerendered" />
    </app>

    <script src="_framework/blazor.webassembly.js"></script>
    <persist-component-state />
</body>
</html>