@page "/"
@using SparcWeb

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"  />
    <title>Sparc</title>
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://api.kodekit.io/greffe-winterweight.css">
    @*<link href="SparcWeb.styles.css" rel="stylesheet" />*@
</head>
<body>
    <app>
        <component type="typeof(SparcWeb.Shared.NavMenu)" render-mode="WebAssemblyPrerendered" />
        <component type="typeof(SparcWeb.Pages.Index)" render-mode="WebAssemblyPrerendered" />
    </app>

    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>