@import "../App.Variables.scss";

.project-list-page {
    background: $background;

    header {
        text-align: center;
        padding: 120px 0 140px 0;
        width: 100%;
        margin: auto;
        background: $yellow-100;

        .icon-wrapper {
            margin-bottom: 8px;
        }

        .title-1 {
            width: 1007px;
            margin: 0 auto;
            margin-bottom: 26px;
        }

        .project-tags {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 481px;
            margin: auto;

            .tag {
                border: 1px solid $peach-500;
                background: inherit;
                color: $peach-500;
                border-radius: 100px;
            }
        }
    }

    .project-tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 481px;
        margin: auto;

        .tag {
            border: 1px solid $peach-500;
            background: inherit;
            color: $peach-500;
            border-radius: 100px;
        }
    }

    .project-list-wrapper {
        margin: 0 calc((100vw - 1098px) / -2);
        padding: 140px calc((100vw - 1098px) / 2);
        background: $yellow-50;

        .filters {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 36px;

            .search {
                width: 30%;
                position: relative;

                input {
                    width: 100%;
                }

                i {
                    position: absolute;
                    top: 9px;
                    right: 12px;
                    font-size: 20px;
                }
            }

            select {
                max-width: 146px;
                font-size: 16px;
            }
        }

        .project-list {
            width: 1098px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
        }
    }

    @media only screen and (max-width: 1200px) {
        header {
            .title-1 {
                width: 673px;
            }
        }

        .project-list-wrapper {
            margin: 0 calc((100vw - 673px) / -2);
            padding: 140px calc((100vw - 673px) / 2);

            .project-list {
                width: 501px;
                display: block;
                margin: 0 auto;

                .project-card {
                    width: 100%;
                    margin-bottom: 38px;

                    .image-wrapper {
                        height: 317px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 850px) {
        header {
            width: 501px;
            padding-bottom: 80px;

            .title-1 {
                width: 100%;
                font-size: 52px;
            }

            .icon-wrapper {
                margin-bottom: 16px;
            }

            .project-tags {
                width: 329px;
                margin: auto;

                .tag {
                    padding: 3px 12px;
                    font-size: 14px;
                }
            }
        }

        .project-list-wrapper {
            margin: 0 calc((100vw - 501px) / -2);
            padding: 80px calc((100vw - 501px) / 2);

            .filters {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 36px;
                gap: 20px;

                .search {
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    i {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 16px;
                    }
                }

                select {
                    max-width: 124px;
                    font-size: 16px;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        header {
            width: 329px;
            padding-top: 80px;
            padding-bottom: 40px;

            .title-1 {
                font-size: 40px;
            }
        }

        .project-list-wrapper {
            margin: 0 calc((100vw - 329px) / -2);
            padding: 40px calc((100vw - 329px) / 2);

            .project-list {
                width: 329px;

                .project-card {
                    .image-wrapper {
                        height: 208px;
                    }
                }
            }
        }
    }
}