@page "/blogs"

<div class="blog-list-page">
    <div class="container">
        <section class="blog-hero">
            <div class="title">
                <h2 class="title-1">Blog</h2>
                <p class="title-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="project-tags">
                <button class="btn-small tag">Productivity</button>
                <button class="btn-small tag">Productivity</button>
                <button class="btn-small tag">Productivity</button>
                <button class="btn-small tag">Productivity</button>
                <button class="btn-small tag">Productivity</button>
                <button class="btn-small tag">Productivity</button>
                <button class="btn-small tag">Productivity</button>
            </div>
        </section>

        <section class="blog-featured">
            <div class="left">
                <div class="blog-image-wrapper">
                    <img src="./images/Laptop.png" />
                </div>
            </div>
            <div class="right">
                <div class="wrapper">
                    <div class="blog-tags">
                    <p class="small">Design</p>
                    <div class="seperation-line"></div>
                    <p class="small">Design</p>
                    <div class="seperation-line"></div>
                    <p class="small">Design</p>
                    </div>
                    <div class="title">
                        <h5 class="subtitle-large semi-bold">How to tackle HTML/CSS as a beginner (All you need to know is in here!)</h5>
                        <p class="title-2">Nunc pulvinar sapien et ligula. Hac habitasse platea dictumst quisque. Venenatis cras sed felis eget velit aliquet sagittis id. Iaculis eu non diam phasellus vestibulum. Adipiscing elit pellentesque habitant morbi.</p>
                    </div>
                    <div class="posted">
                        <p>Mary Jane</p>
                        <p>1/1/2022</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog-grid">
            <div class="blog-list">
                <div class="blog-card">
                    <div class="card-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                    </div>
                    <div class="title">
                        <h5 class="subtitle-large semi-bold">2022 Trending Web design</h5>
                    </div>
                    <div class="posted">
                        <p>Mary Jane</p>
                        <p>1/1/2022</p>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="card-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                    </div>
                    <div class="title">
                        <h5 class="subtitle-large semi-bold">How to tackle HTML/CSS as a beginner (All you need to know is in here!)</h5>
                    </div>
                    <div class="posted">
                        <p>Mary Jane</p>
                        <p>1/1/2022</p>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="card-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                    </div>
                    <div class="title">
                        <h5 class="subtitle-large semi-bold">2022 Trending Web design</h5>
                    </div>
                    <div class="posted">
                        <p>Mary Jane</p>
                        <p>1/1/2022</p>
                    </div>
                </div>

                <div class="blog-card">
                    <div class="card-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                    </div>
                    <div class="title">
                        <h5 class="subtitle-large semi-bold">2022 Trending Web design</h5>
                    </div>
                    <div class="posted">
                        <p>Mary Jane</p>
                        <p>1/1/2022</p>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="card-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                    </div>
                    <div class="title">
                        <h5 class="subtitle-large semi-bold">How to tackle HTML/CSS as a beginner (All you need to know is in here!)</h5>
                    </div>
                    <div class="posted">
                        <p>Mary Jane</p>
                        <p>1/1/2022</p>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="card-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                        <div class="seperation-line"></div>
                        <p class="small">Design</p>
                    </div>
                    <div class="title">
                        <h5 class="subtitle-large semi-bold">2022 Trending Web design</h5>
                    </div>
                    <div class="posted">
                        <p>Mary Jane</p>
                        <p>1/1/2022</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>