@page "/blog/{title}"

<section class="blog-page">
    <div class="container">
        <div class="blog">
                @if (Channel != null)
                {
                    <div class="blog--title">@((MarkupString)Ibis["title"].ToString())</div>
                    @foreach (var post in Channel.Content.Where(x => x.Tag == "blog"))
                    {
                        <div class="posted">
                            <p>@post.Timestamp.ToString("M")</p>
                        </div>
                        @((MarkupString)post.Text.ToString())
                    }
                }
        </div>
    </div>
</section>

@code {
    [Parameter] public string title { get; set; }
    public string Content = "";
    IbisChannel Channel;

    protected override async Task OnInitializedAsync()
    {
        Channel = await Ibis.GetAllAsync(title, null, true);
    }
}