@page "/"
<PageTitle>Index</PageTitle>

<div class="homepage">
    <section class="home-hero">
        <div class="container">
            <div class="header center">
                <h1>Striving for a world where <span class="invert">startups</span> are owned by those who <span class="invert">built it</span></h1>
                <p class="title-2">We are building a community of individuals & organisations who believe there is a better way to fund, build and reward startups.</p>
            </div>
            <div class="cta-box">
                <div class="box-header">
                    <p class="subtitle-small">Join the Sparc community, and get access to a list of resources & guidance.</p>
                </div>
                <div class="cta-flex">
                    <div class="profile-pics-wrapper">
                        <div class="profile-pic">
                            <img src="images/Picture.png" />
                        </div>
                        <div class="profile-pic">
                            <img src="images/Picture.png" />
                        </div>
                        <div class="profile-pic">
                            <img src="images/Picture.png" />
                        </div>
                    </div>
                    <div>
                        <button>Join the community</button>
                    </div>
                </div>
            </div>
            <div class="learn-more">
                <p class="subtitle-small">Learn more about our mission</p>
                <img src="images/icons/Down.svg" />
            </div>
        </div>
    </section>

    <section class="mission">
        <div class="container">
            <div class="mission-wrapper">
                <div class="mission-icon">
                    <img src="images/icons/04.svg" />
                </div>
                <div class="mission-content">
                    <h5 class="subtitle-large">Behind every venture, there are folks who are persistently dedicating their unique talents, energy and skills.</h5>
                    <h5 class="subtitle-large">All in pursuit of a larger goal.</h5>
                    <h5 class="subtitle-large">And yet, the value they are creating above and beyond their salaries is always locked away.</h5>
                    <h5 class="subtitle-large">Owned by someone else...</h5>
                    <h5 class="subtitle-large">It is as though their contributions are somehow lesser. Less deserving. Less crucial. The value of their own creations gets suctioned away, while they're asked to give just a little more.</h5>
                </div>
            </div>
            <div class="mission-wrapper">
                <div class="mission-icon">
                    <img src="images/icons/04.svg" />
                </div>
                <div class="mission-content">
                    <h5 class="subtitle-large">Behind every venture, there are folks who are persistently dedicating their unique talents, energy and skills.</h5>
                    <h5 class="subtitle-large">All in pursuit of a larger goal.</h5>
                    <h5 class="subtitle-large">And yet, the value they are creating above and beyond their salaries is always locked away.</h5>
                    <h5 class="subtitle-large">Owned by someone else...</h5>
                    <h5 class="subtitle-large">It is as though their contributions are somehow lesser. Less deserving. Less crucial. The value of their own creations gets suctioned away, while they're asked to give just a little more.</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="values">
        <div class="container">
            <div class="section-tag value-tag">
                <p class="subtitle-medium">Our Core Values</p>
            </div>
            <div class="header">
                <h2>Our three values, by which sparc and its community function.</h2>
            </div>
            <div class="card-wrapper">
                <div class="card-value">
                    <div class="icon">
                        <img src="images/icons/04.svg" />
                    </div>
                    <p class="subtitle-large">Self-Governance</p>
                    <p class="subtitle-medium">At each fork in the road, the members themselves vote for the direction that Sparc goes. There is no board, no executive team, no outside owners to override us. Where we want to go, we go together, and we learn together.</p>
                </div>
                <div class="card-value">
                    <div class="icon">
                        <img src="images/icons/04.svg" />
                    </div>
                    <p class="subtitle-large">Self-Governance</p>
                    <p class="subtitle-medium">At each fork in the road, the members themselves vote for the direction that Sparc goes. There is no board, no executive team, no outside owners to override us. Where we want to go, we go together, and we learn together.</p>
                </div>
                <div class="card-value">
                    <div class="icon">
                        <img src="images/icons/04.svg" />
                    </div>
                    <p class="subtitle-large">Self-Governance</p>
                    <p class="subtitle-medium">At each fork in the road, the members themselves vote for the direction that Sparc goes. There is no board, no executive team, no outside owners to override us. Where we want to go, we go together, and we learn together.</p>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="left">
                    <div class="section-tag project-tag"><p class="subtitle-medium">Sparc Projects</p></div>
                    <h5>To put this belief into practice, we have self funded a few initial startups, which, once profitable will be able to continue to fund following startups through to their own profitability.</h5>
                    <button>View All Projects <img src="images/icons/Icon Right.svg" /></button>
                </div>
                <div class="right">
                    <div class="card-wrapper">
                        <div class="project-card">
                            <div class="card-image">
                                <img />
                            </div>
                            <div class="card-content">
                                <div class="image-wrapper">
                                    <img src="./images/Laptop.png" />
                                </div>
                                <div class="card-header">
                                    <h5 class="title-2 semi-bold">KodeKit</h5>
                                    <div class="image-wrapper">
                                        <img src="images/icons/Up-Right.svg" />
                                    </div>
                                </div>
                                <div>
                                    <p class="subtitle-small">Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements. No classes, no confusion.</p>
                                </div>
                                <div class="card-tags-wrapper">
                                    <div class="card-tags">
                                        <button class="btn-small">Design</button>
                                        <button class="btn-small">Productivity</button>
                                    </div>
                                    <div class="card-github">
                                        @*icon*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card">
                            <div class="card-image">
                                <img />
                            </div>
                            <div class="card-content">
                                <div class="image-wrapper">
                                    <img src="./images/Laptop.png" />
                                </div>
                                <div class="card-header">
                                    <h5 class="title-2 semi-bold">KodeKit</h5>
                                    <div class="image-wrapper">
                                        <img src="images/icons/Up-Right.svg" />
                                    </div>
                                </div>
                                <div>
                                    <p class="subtitle-small">Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements. No classes, no confusion.</p>
                                </div>
                                <div class="card-tags-wrapper">
                                    <div class="card-tags">
                                        <button class="btn-small">Design</button>
                                        <button class="btn-small">Productivity</button>
                                    </div>
                                    <div class="card-github">
                                        @*icon*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card">
                            <div class="card-image">
                                <img />
                            </div>
                            <div class="card-content">
                                <div class="image-wrapper">
                                    <img src="./images/Laptop.png" />
                                </div>
                                <div class="card-header">
                                    <h5 class="title-2 semi-bold">KodeKit</h5>
                                    <div class="image-wrapper">
                                        <img src="images/icons/Up-Right.svg" />
                                    </div>
                                </div>
                                <div>
                                    <p class="subtitle-small">Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements. No classes, no confusion.</p>
                                </div>
                                <div class="card-tags-wrapper">
                                    <div class="card-tags">
                                        <button class="btn-small">Design</button>
                                        <button class="btn-small">Productivity</button>
                                    </div>
                                    <div class="card-github">
                                        @*icon*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="community">
        <div class="container">
            <div class="header">
                <div class="section-tag community-tag"><p class="subtitle-medium">Sparc Community</p></div>
                <h5 class="subtitle-large">Our projects are just one way we plan to combat this issue within the startup world, but another way is to share information, process, resources and more with individuals and companies who align with our values and our goals.</h5>
            </div>

            <div class="card-wrapper">
                <div class="community-card">
                    <div class="cta-flex">
                        <div class="profile-pics-wrapper">
                            <div class="profile-pic">
                                <img src="images/Picture.png" />
                            </div>
                            <div class="profile-pic">
                                <img src="images/Picture.png" />
                            </div>
                            <div class="profile-pic">
                                <img src="images/Picture.png" />
                            </div>
                        </div>
                    </div>

                    <div class="card-header">
                        <h6 class="title-2 semi-bold">Individuals</h6>
                        <p class="subtitle-medium">At an individual level, we want to provide guidance, resources and anything else we can to help you find similar companies, fit into our projects or build your own.

                        </p>
                    </div>

                    <div class="community-signup">
                        <p>Join our community</p>
                        <div class="community-join">
                            <input placeholder="Your Email"/>
                            <button class="btn-large">Join</button>
                        </div>
                    </div>
                </div>

                <div class="community-card badge">
                    <div class="sparc-badge">
                        <img src="./images/sparc-approved-badge-2x 1.png" />
                    </div>
                    <div class="card-header">
                        <h6 class="title-2 semi-bold">Individuals</h6>
                        <p class="subtitle-medium">At an individual level, we want to provide guidance, resources and anything else we can to help you find similar companies, fit into our projects or build your own.

                        </p>
                    </div>

                    <div class="community-signup">
                        <p>Join our movement</p>
                        <div class="community-join">
                            <button class="btn-large">Apply to become Sparc Align</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="resources">
        <div class="container">
            <div class="header">
                <div class="section-tag recourses-tag"><p class="subtitle-medium">Sparc Resources</p></div>
                <h5 class="subtitle-large semi-bold">Our projects are just one way we plan to combat this issue within the startup world, but another way is to share information, process, resources and more with individuals and companies who align with our values and our goals.</h5>
            </div>

            <div class="blog-wrapper">
                <div class="blog-card">
                    <div class="blog-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <button class="tag btn-small">#Design</button>
                        <button class="tag btn-small">#Productivity</button>
                    </div>
                    <div>
                        <p class="title-2">
                            Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements.
                        </p>
                    </div>
                </div>

                <div class="blog-card">
                    <div class="blog-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <button class="tag btn-small">#Design</button>
                        <button class="tag btn-small">#Productivity</button>
                    </div>
                    <div>
                        <p class="title-2">
                            Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements.
                        </p>
                    </div>
                </div>

                <div class="blog-card">
                    <div class="blog-image">
                        <img src="./images/Laptop.png" />
                    </div>
                    <div class="blog-tags">
                        <button class="tag btn-small">#Design</button>
                        <button class="tag btn-small">#Productivity</button>
                    </div>
                    <div>
                        <p class="title-2">
                            Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@code {
    
    protected override async Task OnInitializedAsync()
    {
        //await Api.GetSlackPostsAsync(); 
    }
}