@page "/Projects"

<div class="project-list-page">
    
    <section class="hero-header">
         <div class="container">
             <div class="header">
                <div class="icon-wrapper">
                <img src="./images/icons/09-yellow.svg" />
                </div>
                <div>
                    <h2 class="title-1">Every great idea starts with a spark. Explore our journey to bring ideas to reality. </h2>
                </div>
                <div class="project-tags">
                    <button class="btn-small tag">Productivity</button>
                    <button class="btn-small tag">Ideas</button>
                    <button class="btn-small tag">Creativity</button>
                    <button class="btn-small tag">Inpirational</button>
                    <button class="btn-small tag">Motivative</button>
                </div>
             </div>
        </div>
    </section>

    <section class="project-list-wrapper">
        <div class="container">
            <div class="list-wrapper">
                <div class="filters">
                    <div class="search">
                        <input placeholder="Search">
                        <i class="material-icons">search</i>
                    </div>
                    <select>
                        <option>Sort By</option>
                        <option>Productivity</option>
                        <option>Ideas</option>
                        <option>Design</option>
                    </select>
                </div>

                <div class="project-list">
                    <ProjectCard Title="KodeKit" Status="Live" />
                    <ProjectCard Title="Kode Kit" Status="In Progress"/>
                    <ProjectCard Title="Kode Kit" Status="In Progress"/>
                    <ProjectCard Title="Kode Kit" Status="In Progress"/>
                </div>
            </div>
        </div>
    </section>
    
</div>

@code {
    //public List<SlackPost> PostList = new List<SlackPost>();

    //protected override async Task OnInitializedAsync()
    //{
    //    var list = await Api.GetSlackPostsAsync("/blog-post");
    //    PostList = list.ToList();
    //}
}