article {
    grid-column: 1 / span 12;

    .page-container {
        display: flex;
        flex-direction: row;
        gap: 16px;

        > * {
            width: 50%;
        }
    }

    .left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        overflow-y: auto;

        .product-card {
            width: calc(100% - 32px);
            min-height: 400px;
            max-height: 507px;
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            text-align: center;

            .card-overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(26, 12, 50);
                backdrop-filter: blur(6px);
                opacity: 0.3;
                z-index: 10;
                transition: 0.3s opacity ease-in-out;
            }

            .title {
                font-family: "elza-text", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                position: relative;
                z-index: 20;
            }

            &:hover {
                .card-overlay {
                    opacity: 0;
                }
            }

            &:nth-of-type(1n) {
                background: var(--yellow-100);
                color: var(--yellow-800);
            }

            &:nth-of-type(2n) {
                background: var(--purple-100);
                color: var(--purple-800);
            }

            &:nth-of-type(3n) {
                background: var(--orange-100);
                color: var(--orange-800);
            }

            &:nth-of-type(4n) {
                background: var(--orange-700);
                color: var(--orange-50);
            }
        }
    }

    .right {
        height: calc(100vh - 128px);
        padding: 16px;
        position: relative;

        .container {
            width: 598px;
            height: calc(100vh - 128px);
            position: fixed;
            overflow-y: auto;
            top: 112px;
            left: calc(50vw + 16px);
        }

        .product-info {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: calc(100% - 32px);
        }

        header {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h3 {
                font-size: 5.052rem;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 55.572px */
                color: var(--purple-700);
            }
        }

        .product-tags {
            display: flex;
            flex-direction: row;
            gap: 4px;

            > * {
                display: flex;
                height: 36px;
                padding: 0 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 40px;
                font-family: "Fjalla One";
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 21px */
                letter-spacing: -0.15px;
                color: white;

                &.purple {
                    background: var(--purple-300);
                }

                &.orange {
                    background: var(--orange-400);
                }

                &.blue {
                    background: var(--blue);
                }

                &.grey {
                    background: var(--gray-200);
                }
            }
        }
    }

    .description {
        p {
            font-family: "elza-text", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            color: var(--Color-Purple-900, #1A0C32);
        }
    }

    footer {
        h4, p, span {
            font-family: "Fjalla One";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            color: var(--purple-800);
        }

        .price {
            margin-bottom: 16px;
        }

        h4 {
            margin-bottom: 16px;
        }
    }
}
