<h5>
    Need a hand?
</h5>

<p>
    Whether you’ve got a question, a curious thought, or just want to say hi, we’re here for it.
</p>
<p>
    Reach out anytime, and someone from the Sparc crew will get back to you as soon as possible.
</p>
<p>
    No bots. No ticket numbers. Just humans helping humans.
</p>

<p class="important">
    Send us an email: <a href="mailto:support@sparc.coop">support@sparc.coop</a>
</p>
