.product-actions {
  width: 100%;
  position: fixed;
  bottom: -45px;
}
.product-actions .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-actions button {
  margin: 0 -4px;
  display: flex;
  justify-content: start;
  align-items: start;
  min-width: 180px;
  height: 120px;
  padding: 16px;
  background: var(--gray-100);
  color: var(--gray-900);
  font-family: "Fjalla One";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}
.product-actions button:hover {
  animation: popUp 0.3s ease-in-out;
}
.product-actions button:nth-child(1) {
  transform: rotate(0deg);
}
.product-actions button:nth-child(1).hovered {
  transform: translateY(-32px) rotate(0deg);
  animation: popUp1 0.2s ease-in-out;
}
.product-actions button:nth-child(1).clicked {
  transform: translateY(-32px) rotate(0deg);
}
.product-actions button:nth-child(2) {
  transform: rotate(-3deg);
}
.product-actions button:nth-child(2).hovered {
  transform: translateY(-32px) rotate(-3deg);
  animation: popUp2 0.2s ease-in-out;
}
.product-actions button:nth-child(2).clicked {
  transform: translateY(-32px) rotate(-3deg);
}
.product-actions button:nth-child(3) {
  transform: rotate(5deg);
}
.product-actions button:nth-child(3).hovered {
  transform: translateY(-32px) rotate(5deg);
  animation: popUp3 0.2s ease-in-out;
}
.product-actions button:nth-child(3).clicked {
  transform: translateY(-32px) rotate(5deg);
}
.product-actions button#help-tab {
  background: var(--yellow-300);
}
.product-actions button#purchase-tab {
  background: var(--orange-400);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
.product-actions button#purchase-tab div {
  text-align: right;
}
.product-actions button#purchase-tab div span {
  font-size: 2rem;
}
.product-actions button#purchase-tab div aside {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-wrap: nowrap;
  line-height: 100%;
}
.product-actions button#download-tab {
  background: var(--gray-600);
}

@keyframes popUp1 {
  0% {
    transform: translateY(0) rotate(deg0);
  }
  100% {
    transform: translateY(-32px) rotate(deg0);
  }
}
@keyframes popUp2 {
  0% {
    transform: translateY(0) rotate(-3deg);
  }
  100% {
    transform: translateY(-32px) rotate(-3deg);
  }
}
@keyframes popUp3 {
  0% {
    transform: translateY(0) rotate(5deg);
  }
  100% {
    transform: translateY(-32px) rotate(5deg);
  }
}
