.product-purchase form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: var(--purple-700);
}
.product-purchase form h5 {
  font-size: 2.133rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 23.463px */
}
.product-purchase form section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.product-purchase form section .form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-purchase form section .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.product-purchase form section:nth-child(1) label {
  display: flex;
  padding: 32px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Color-Purple-500, #6A2FD0);
  /* Shadow */
  box-shadow: 0px 0px 2px 0px rgba(26, 12, 50, 0.1), 0px 0px 4px 0px rgba(26, 12, 50, 0.2);
}
.product-purchase form section:nth-child(1) label span {
  font-size: 2.133rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 23.463px */
}
.product-purchase form section:nth-child(2) label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-purchase form section:nth-child(2) label span {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.12px;
}
.product-purchase form section:nth-child(2) label input {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 26px;
  border: 1px solid var(--purple-100);
  opacity: 0.5;
}
