label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
label span {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.12px;
}
label input, label select {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 26px;
  border: 1px solid var(--purple-100);
  opacity: 0.5;
}
label select {
  width: 50%;
}
