<div class="product-purchase">
    <form>
        <section>
            <h5>Select License</h5>
            <div class="form-container">
                <label>
                    <input type="radio" name="license-input" />
                    <span>For yourself</span>
                </label>
                <label>
                    <input type="radio" name="license-input" />
                    <span>Gift</span>
                </label>
            </div>
        </section>
        <section>
            <h5>Billing Information</h5>
            <div class="form-container">
                <div class="form-group">
                    <label>
                        <span>First Name *</span>
                        <input type="text" placeholder="First Name" required/>
                    </label>
                    <label>
                        <span>Last Name *</span>
                        <input type="text" placeholder="Last Name" />
                    </label>
                </div>
                <label>
                    <span>Address *</span>
                    <input type="text" placeholder="Address" required />
                </label>
                <label>
                    <span>Address 2</span>
                    <input type="text" placeholder="Additional Address" />
                </label>
                <div class="form-group">
                    <label>
                        <span>City *</span>
                        <input type="text" placeholder="City" required />
                    </label>
                    <label>
                        <span>State/Province *</span>
                        <input type="text" placeholder="State/Province" required />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span>Country *</span>
                        <input type="text" placeholder="Country" required />
                    </label>
                    <label>
                        <span>ZIP *</span>
                        <input type="text" placeholder="ZIP Code" required />
                    </label>
                </div>
                <label>
                    <span>Phone number (optional)</span>
                    <input type="tel" placeholder="Phone Number" />
                </label>
            </div>
        </section>
    </form>
</div>

@code {
    [Parameter] public Product? ActiveProduct { get; set; }
}