.product-info {
    width: calc(100% - 32px);
    position: relative;

    &.product-page {
        padding-bottom: 150px;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        div:first-child {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 32px;
        }

        h2 {
            font-size: 5.052rem;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 55.572px */
            color: var(--purple-700);
            cursor: pointer;
        }

        .price {
            width: fit-content;
            font-family: "elza-text", sans-serif;
            font-size: 2.133rem;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 23.463px */
            color: var(--purple-400);
        }
    }

    .product-tags {
        display: flex;
        flex-direction: row;
        gap: 4px;

        > * {
            display: flex;
            height: 36px;
            padding: 0 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 40px;
            font-family: "Fjalla One";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 21px */
            letter-spacing: -0.15px;
            color: white;

            &.purple {
                background: var(--purple-300);
            }

            &.orange {
                background: var(--orange-400);
            }

            &.blue {
                background: var(--blue);
            }

            &.grey {
                background: var(--gray-200);
            }
        }
    }


    .description {
        p {
            font-family: "elza-text", sans-serif;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            color: var(--Color-Purple-900, #1A0C32);
        }
    }

    .credits {
        display: flex;
        flex-direction: column;

        h3, p, span, button {
            font-family: "Fjalla One";
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            color: var(--purple-800);
        }

        h3 {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            background: none;
            transition: .2s ease-in-out;

            &:hover {
                color: var(--purple-500);
            }

            &:active {
                color: var(--purple-800);
            }

            span {
                display: inline-block;
                vertical-align: middle;

                &.rotate {
                    color: var(--purple-500);
                    animation: rotateClockwise 1.5s ease-in-out;
                }

                &.rotateBack {
                    animation: rotateCounterClockwise 1.5s ease-in-out;
                }
            }
        }

        div:last-child {
            //overflow: hidden;
            //max-height: 0;
            //transition: max-height 2s ease-in-out;
            height: 0;
            opacity: 0;

            > * {
                height: 0;
            }

            &.rotate {
                //max-height: 300px;
                //transition: max-height 2s ease-in-out;
                margin-top: 16px;
                height: fit-content;
                opacity: 1;
                animation: fadeIn 1.5s ease-in;

                > * {
                    height: fit-content;
                }
            }

            &.rotateBack {
                margin: 0;
                opacity: 0;
                //animation: fadeOut 1.5s ease-in;

                > * {
                    height: 0;
                }
            }
        }
    }

    @media only screen and (max-width: 766px) {
        &.catalog-page {
            width: calc(100% - 48px);
            height: calc(100% - 80px);
            padding: 32px;
            padding-right: 0;
            overflow: hidden;

            .credits, ::deep .product-actions {
                display: none;
            }

            .view-btn {
                display: block;
                //padding: 6px 10px;
                background: none;
                //border: 1px solid transparent;
                //border-radius: 16px;
                position: absolute;
                bottom: 0;
                right: 0;
                //left: calc(50% + 8px);
                //transform: translateX(calc(-50% + 8px));
                font-family: "Fjalla One";
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 110%; /* 55.572px */
                color: var(--purple-700);
                transition: .2s ease-in-out;

                ::deep svg {
                    width: 24px;
                    height: auto;
                    transform: rotate(180deg);

                    path {
                        stroke: var(--purple-700);
                    }
                }

                &:hover {
                    color: var(--purple-500);

                    ::deep svg {
                        path {
                            stroke: var(--purple-500);
                        }
                    }
                }

                &:active {
                    color: var(--purple-700);
                    //border-color: var(--purple-700);

                    ::deep svg {
                        path {
                            stroke: var(--purple-500);
                        }
                    }
                }
            }
        }

        .gradient-overlay {
            display: block;
            width: 100%;
            height: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, var(--yellow-50), transparent);
        }

        &.product-page {
            overflow: hidden;
            width: 100%;
            height: 40vh;
            padding-bottom: 16px;

            footer {
                display: none;
            }

            &.fullscreen {
                height: calc(100% - 136px);

                .info-container {
                    height: 100%;
                }

                .gradient-overlay {
                    display: none;
                }

                .more-btn {
                    display: none;
                }

                footer {
                    display: block;

                    ::deep .product-actions {
                        position: static;
                        margin-top: 16px;

                        .tabs {
                            flex-direction: column;

                            button {
                                width: 85%;
                                height: 64px;
                                padding: 8px 16px;
                                align-items: center;
                                font-size: 2.4rem;
                                font-weight: 400;

                                &:nth-child(1) {
                                    transform: rotate(0deg);

                                    &.hovered {
                                        transform: translateY(-8px) rotate(0deg);
                                        animation: popUp1 0.2s ease-in-out;
                                    }

                                    &.clicked {
                                        transform: translateY(-8px) rotate(0deg);
                                    }
                                }

                                &:nth-child(2) {
                                    transform: rotate(-3deg);

                                    &.hovered {
                                        transform: translateY(-8px) rotate(-3deg);
                                        animation: popUp2 0.2s ease-in-out;
                                    }

                                    &.clicked {
                                        transform: translateY(-8px) rotate(-3deg);
                                    }
                                }

                                &:nth-child(3) {
                                    transform: rotate(1deg);

                                    &.hovered {
                                        transform: translateY(-8px) rotate(1deg);
                                        animation: popUp3 0.2s ease-in-out;
                                    }

                                    &.clicked {
                                        transform: translateY(-8px) rotate(1deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .more-btn {
                display: block;
                padding: 6px 10px;
                background: none;
                border: 1px solid transparent;
                border-radius: 16px;
                position: absolute;
                bottom: 16px;
                left: 50%;
                transform: translateX(-50%);
                font-family: "Fjalla One";
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 110%; /* 55.572px */
                color: var(--purple-700);
                transition: .2s ease-in-out;

                &:hover {
                    color: var(--purple-500);
                }

                &:active {
                    color: var(--purple-700);
                    border-color: var(--purple-700);
                }
            }
        }

        header {
            h2 {
                font-size: 2.848rem;
            }

            .price {
                font-size: 1.6rem;
            }
        }

        .description {
            p {
                font-size: 1.4rem;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotateClockwise {
    0% {
        transform: rotate(0deg);
        color: var(--purple-800);
    }

    100% {
        transform: rotate(180deg);
        color: var(--purple-500);
    }
}

@keyframes rotateCounterClockwise {
    0% {
        transform: rotate(180deg);
        color: var(--purple-500);
    }

    100% {
        transform: rotate(0deg);
        color: var(--purple-800);
    }
}

@keyframes popUp1 {
    0% {
        transform: translateY(0) rotate(deg0);
    }

    100% {
        transform: translateY(-8px) rotate(deg0);
    }
}

@keyframes popUp2 {
    0% {
        transform: translateY(0) rotate(-3deg);
    }

    100% {
        transform: translateY(-8px)rotate(-3deg);
    }
}

@keyframes popUp3 {
    0% {
        transform: translateY(0) rotate(1deg);
    }

    100% {
        transform: translateY(-8px) rotate(1deg);
    }
}