.product-purchase {
    padding: 16px;

    h5 {
        font-size: 2.133rem;
        font-weight: 500;
        line-height: 110%;
    }

    ::deep label {
        display: block;
        margin: 16px 0;

        span {
            color: var(--purple-700);
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    ::deep .currency-selector-container {
        header h4 {
            color: var(--purple-700);
            font-size: 1.2rem;
            margin-bottom: 8px;
        }

        .currency-selector {
            background-color: white;
            padding: 16px;
            margin-bottom: 16px;
        }

        select {
            background-color: white;
        }
    }

    @media only screen and (max-width: 766px) {
        padding: 0;
        padding-bottom: 32px;
    }
}
