.product-purchase {
  width: 100%;
  padding: 16px;
}
.product-purchase form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: var(--purple-700);
}
.product-purchase form h5 {
  font-size: 2.133rem;
  font-weight: 500;
  line-height: 110%;
}
.product-purchase form section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.product-purchase form section.summary-section {
  padding: 32px;
  border-radius: 32px;
  background: var(--yellow-50);
  box-shadow: 0px 0px 2px rgba(26, 12, 50, 0.1), 0px 0px 4px rgba(26, 12, 50, 0.2);
}
.product-purchase form section .form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-purchase form .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.product-purchase form .form-group.discount {
  justify-content: flex-start;
  align-items: flex-end;
}
.product-purchase form .form-group.discount label {
  width: 50%;
}
.product-purchase form .form-group.discount button {
  height: 48px;
  padding: 10px 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple-700);
}
.product-purchase form .form-group.discount button:hover {
  border-radius: 32px;
  border: 1px solid var(--purple-700);
}
.product-purchase form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.product-purchase form label span {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.12px;
}
.product-purchase form label input {
  padding: 16px;
  border-radius: 26px;
  border: 1px solid var(--purple-100);
  opacity: 0.5;
}
.product-purchase form .btn {
  padding: 8px 16px;
  border-radius: 100px;
  width: 256px;
  font-weight: 500;
}
