@using Sparc.Blossom.Authentication
@using Sparc.Blossom.Billing
@using System.Globalization
<div class="product-purchase">
    <form id="payment-form" @onsubmit="SubmitUserBilling" @onsubmit:preventDefault="true">
        <section class="license-section">
            <h5>Select License</h5>
                <div class="form-container">
                    <label>
                        <input type="radio" name="license-input" />
                        <span>For yourself</span>
                    </label>
                    <label>
                        <input type="radio" name="license-input" />
                        <span>Gift</span>
                    </label>
                </div>
        </section>
        <section class="billing-section">
            <h5>Billing Information</h5>
            <div class="form-container">
                <div class="form-group">
                    <label>
                        <span>First Name *</span>
                        <input @bind="Order.FirstName" placeholder="First Name" />
                    </label>
                    <label>
                        <span>Last Name *</span>
                        <input @bind="Order.LastName" placeholder="Last Name" />
                    </label>
                </div>
                <label>
                    <span>Address *</span>
                    <input @bind="Order.Address" placeholder="Address" />
                </label>
                <label>
                    <span>Address 2</span>
                    <input @bind="Order.Address2" placeholder="Additional Address" />
                </label>
                <div class="form-group">
                    <label>
                        <span>City *</span>
                        <input @bind="Order.City" placeholder="City" />
                    </label>
                    <label>
                        <span>State/Province *</span>
                        <input @bind="Order.State" placeholder="State/Province" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span>Country *</span>
                        <input @bind="Order.Country" placeholder="Country" />
                    </label>
                    <label>
                        <span>ZIP *</span>
                        <input @bind="Order.Zip" placeholder="ZIP Code" />
                    </label>
                </div>
                <label>
                    <span>Phone number (optional)</span>
                    <input @bind="Order.Phone" placeholder="Phone Number" />
                </label>
            </div>
        </section>
        <section class="payment-section">
            <h5>Payment Information</h5>
            <div class="form-container">
                <ProductPurchasePayment Order="Order" StripeProduct="StripeProduct"></ProductPurchasePayment>
            </div>
        </section>
        <section class="summary-section">

        </section>
        <button id="submit-button" type="submit" class="btn btn-primary">
            Purchase
        </button>
    </form>
</div>
@inject IJSRuntime JS
@code {
    [Parameter] public Product? ActiveProduct { get; set; }

    private GetProductResponse? StripeProduct;
    BlossomUser? CurrentUser;
    CreateOrderRequest Order = new CreateOrderRequest();


    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await SparcEngine.UserInfo();
        StripeProduct = await SparcEngine.GetProductAsync("prod_SW5yY8O8KprzFu");
    }

    public async void SubmitUserBilling()
    {
        var result = await JS.InvokeAsync<PaymentResult>(
            "stripeIntegration.confirmPayment"
        );

        if (result.Succeeded)
        {
            Nav.NavigateTo(Nav.Uri, forceLoad: false);
        }
    }
    public class PaymentResult
    {
        public bool Succeeded { get; set; }
        public string? Message { get; set; }
        public string? Status { get; set; }
    }
}