@page "/store/{ProductId}"
@using Sparc.Engine.Aura
@layout CatalogLayout

<article class="product-page">
    <div class="page-container">
        <div class="left">
            <div class="left-container">
                @if (ActiveProduct != null)
                {
                    <Sparc2.Catalog.ProductImages Product="ActiveProduct" />
                }
            </div>
        </div>
        <div class="right">
            <div class="right-container">
                <div class="right-header">
                    <button @onclick=@GoBack><ArrowLeftIcon /></button>
                </div>
                @if (ActiveProduct != null)
                {
                    <Sparc2.Catalog.ProductInfo PageType="Product" ActiveProduct="ActiveProduct" User="User" />
                }
                else
                {
                    <div class="product-info">
                        <header>
                            <h3>Select a product</h3>
                            <p>Hover over each product image to view more details</p>
                        </header>
                    </div>
                }
            </div>
        </div>
    </div>
</article>

@inject BlossomApi Api
@inject ISparcAura Aura
@code {
    [Parameter] public required string ProductId { get; set; }
    [SupplyParameterFromQuery(Name = "payment_intent_client_secret")] public string? PaymentIntentClientSecret { get; set; }
    [SupplyParameterFromQuery(Name = "paymentIntentId")] public string? PaymentIntentId { get; set; }

    Sparc.Blossom.Api.Product? ActiveProduct;
    BlossomUser User = null!;

    protected override async Task OnInitializedAsync()
    {
        ActiveProduct = await Api.Products.Get(ProductId);
        User = await Aura.UserInfo();
        // if (PaymentIntentClientSecret != null)
        //     ToggleDownload();

    }

    void GoBack()
    {
        var url = "/store";
    }
}
}