@using Sparc.Coop.Shared.Icons

<div class="project-card">
    <div class="image-wrapper">
        <a href="/Projects/@titleURL/@ChannelId" title="Project Information">
            <img class="photo" src="@ImgUrl" />
            @if(Status.ToLower() == "live")
            {
                <img class="project-status live" src="images/icons/Status Pin Live.svg" />
            } else
            {
                <img class="project-status in-progress" src="images/icons/Status Pin In Progress.svg" />
            }
        </a>
    </div>
    <div class="card-header">
        <h5 class="title-2 semi-bold">@Title</h5>
        <a href="@Link" target="_blank" title="Site Link">
            <ExternalLinkIcon />
        </a>
    </div>
    <p class="subtitle-small">
        @Content
    </p>
    <div class="card-tags-wrapper">
        <div class="card-tags">
            <button class="btn-small">Design</button>
            <button class="btn-small">Productivity</button>
        </div>
        <a href="@Github" target="_blank" class="github-link" title="Github Link"><img src="images/icons/Github.svg"/></a>
    </div>
</div>

@code{
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public string Status { get; set;  } = null!;
    [Parameter] public string ImgUrl { get; set; } = null!;
    [Parameter] public string Github { get; set;  } = null!;
    [Parameter] public string Link { get; set; } = null!;
    [Parameter] public string Content { get; set;  } = null!;
    [Parameter] public string ChannelId { get; set;  } = null!;

    string titleURL = "";

    protected override void OnInitialized()
    {
        titleURL = Title.Replace(' ', '-');
    }
}