@import "../App.Variables.scss";

.project-list-page {
    padding-bottom: 130px;

    .hero-header {
        text-align: center;
        padding: 120px 0 140px 0;

        .header {
            max-width: 1007px;
            margin: auto;

            .icon-wrapper {
                margin-bottom: 8px;
            }

            .title-1 {
                margin-bottom: 26px;
            }

            .project-tags {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 8px;
                max-width: 76%;
                margin: auto;

                .tag {
                    border: 1px solid $peach-500;
                    background: inherit;
                    color: $peach-500;
                    border-radius: 100px;
                }
            }
        }
    }

    .project-tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
        max-width: 76%;
        margin: auto;

        .tag {
            border: 1px solid $peach-500;
            background: inherit;
            color: $peach-500;
            border-radius: 100px;
        }
    }

    .project-list-wrapper {
        padding: 140px 30px 100px 30px;
        width: 100%;
        max-width: 1276px;
        margin: 0 auto;

        @media only screen and (max-width: 1293px) {
            width: 80%;

            .project-card {
                max-width: 47%;
            }
        }

        @media only screen and (max-width: 885px) {
            width: 95%;
        }

        .filters {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 36px;

            .search {
                width: 30%;
                position: relative;

                input {
                    width: 100%;
                }

                i {
                    position: absolute;
                    top: 9px;
                    right: 12px;
                    font-size: 20px;
                }
            }

            select {
                max-width: 146px;
                font-size: 16px;
            }
        }

        .project-list {
            display: flex;
            justify-content: space-between;
            gap: 38px;
            flex-wrap: wrap;
        }
    }

    @media only screen and (max-width: 760px) {
        .hero-header {
            padding-top: 76px;
            padding-bottom: 30px;

            .container {
                padding: 0 42px;
            }

            .header {
                max-width: 760px;

                .icon-wrapper {
                    margin-bottom: 16px;
                }

                .project-tags {
                    width: 95%;
                    max-width: 390px;
                    margin: auto;

                    .tag {
                        padding: 3px 12px;
                        font-size: 14px;
                    }
                }
            }
        }

        .project-list-wrapper {
            padding: 70px 30px;

            .filters {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 36px;
                gap: 20px;

                .search {
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    i {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 16px;
                    }
                }

                select {
                    max-width: 124px;
                    font-size: 16px;
                }
            }

            .project-list {
                justify-content: center;
                gap: 30px;

                .project-card {
                    margin: 16px 0;
                    padding: 0px;
                    max-width: none;

                    .card-content {
                        .image-wrapper {
                            position: relative;

                            img {
                                width: 100%;
                            }

                            .project-status {
                                position: absolute;
                                top: 8px;
                                right: 8px;
                            }

                            .in-progress {
                                width: 109px;
                            }

                            .live {
                                width: 67px;
                            }
                        }

                        .card-header {
                            margin-bottom: 12px;
                        }

                        .card-tags-wrapper {
                            display: block;
                            margin-top: 16px;

                            .card-tags {
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                gap: 5px;
                                margin-bottom: 16px;

                                button {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        padding-bottom: 60px;

        .hero-header {
            text-align: center;
            padding-top: 76px;
            padding-bottom: 30px;

            .header {
                max-width: 390px;
            }
        }
    }
}