
.title-2 {
    font-size: 24px;
}

.subtitle-small {
    font-size: 14px;
}

.subtitle-medium {
    font-size: 20px;
}

.subtitle-large {
    font-size: 32px;
}

.title-1{
    font-size: 68px;
    line-height: 120%;
}

.bold{
    font-weight: 600;
}

.semi-bold{
    font-weight: 500;
}
