@import "../Global/_variables.scss";
body.ibis-translating {
    visibility: hidden;
    opacity: 0;
}

.homepage {
    .center {
        text-align: center;
    }

    .home-hero {
        padding-top: 100px;
        padding-bottom: 24px;
        background: $yellow-100;
        position: relative;

        .header {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 72px;

            h1 {
                width: 100%;
                max-width: 1053px;
                margin: 0 auto;
                margin-bottom: 16px;
                font-size: 94px;
                line-height: 115px;
            }

            p.subtitle-1 {
                width: 70%;
                max-width: 592px;
                margin: 0 auto;
                font-family: 'IBMPlexSans-Medium';
                font-size: 24px;
                line-height: 140%;
            }
        }

        .invert {
            font-family: 'NeueHaasDisplayMedium';
            color: $yellow-100;
            -webkit-text-stroke: 2px $grey-900;
            margin: 0 12px;
            display: inline-flex;
        }

        .cta-box {
            width: 656px;

            input {
                width: 420px;
                height: 40px;
                border-radius: 40px;
                background: $white;
                padding: 12px 24px;
                margin-right: 6px;
            }

            button {
                padding: 12px 15px;
            }
        }
    }

    .hero-graphic {
        display: block;
        text-align: center;
        margin-bottom: 72px;
    }

    .cta-box {
        .profile-pics-wrapper.mobile {
            display: none;
        }

        p.subtitle-small {
            font-family: 'NeueHaasDisplayMedium';
            font-size: 14px;
        }

        .cta-flex {
            justify-content: space-between;
        }

        .cta-email {
            display: none;
        }
    }

    .learn-more {
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;

        a:hover {
            cursor: pointer;
        }

        p {
            margin-bottom: 24px;
        }

        img {
            max-height: 24px;
        }
    }

    .mission {
        padding-bottom: 112px;

        &-wrapper {
            width: 70%;
            margin: 0 auto;

            &:first-child {
                margin-bottom: 160px;
            }
        }

        &-icon {
            margin-bottom: 38px;
        }

        &-content {
            h5.subtitle-large {
                margin-bottom: 48px;
            }
        }
    }

    .values {
        padding-bottom: 160px;
        background: $yellow-100;

        .container {
            padding-bottom: 0px;
            position: relative;
        }

        &-tag {
            margin: 0 auto;
            margin-bottom: 24px;
            background: $white;

            p {
                color: var(--error-500);
            }
        }

        .header {
            width: 70%;
            max-width: 592px;
            margin: 0 auto;
            margin-bottom: 80px;
            text-align: center;
        }

        .card-wrapper {
            width: 100%;
            max-width: 1216px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            gap: 32px;
            flex-wrap: wrap;
            text-align: center;

            .card-value {
                width: 384px;
                background: white;
                padding: 56px 40px 40px;
                border-radius: 24px;

                .icon {
                    margin-bottom: 32px;
                }

                .subtitle-large {
                    margin-bottom: 12px;
                }
            }
        }

        .project-wrapper {
            max-width: 1216px;
            padding-top: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 100px;
            flex-wrap: wrap;

            .left {
                width: 592px;
                position: relative;

                h5.subtitle-large {
                    margin-bottom: 55px;
                }

                a {
                    padding: 12px 24px;
                    border-radius: 100px;
                    background: $grey-900;
                    color: $white;
                    font-family: 'NeueHaasDisplayRomanItalic';
                    font-size: 20px;

                    img {
                        margin-left: 10px;
                    }
                }
            }

            .right {
                width: 520px;
                margin: 0 auto;

                .card-wrapper {
                    max-width: 1216px;
                    margin-bottom: 0px;
                    padding-bottom: 15px;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 32px;

                    .project-card {
                        width: 100%;
                        margin-bottom: 0px;
                        padding: 32px;
                        border-radius: 24px;
                        background: $white;

                        .image-wrapper {
                            height: 320px;

                            .project-status {
                                position: absolute;
                                top: 8px;
                                right: 8px;
                            }

                            .in-progress {
                                width: 109px;
                            }

                            .photo {
                                cursor: pointer;
                                height: 320px;
                            }

                            .image-wrapper {
                                height: 320px;
                            }
                        }

                        .card:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .resources {
        max-width: 100%;
        padding-top: 100px;

        .header {
            max-width: 1216px;
            margin: 0 auto;
            margin-bottom: 55px;

            h5.subtitle-large {
                max-width: 592px;
            }
        }
    }

    @media only screen and (max-width: 760px) {
        margin-top: 63px;

        section {
            padding: 64px 0 0 0;
        }

        .values, .community, .resources {
            text-align: center;
        }

        .section-tag {
            margin: 0 auto;
            margin-bottom: 16px;
        }

        .home-hero {
            padding-top: 60px;

            .header {
                h1 {
                    font-family: 'NeueHaasDisplayBold';
                    font-size: 70px;
                    line-height: 120%;
                    margin-bottom: 16px;
                }

                .invert {
                    font-family: 'NeueHaasDisplayBold';
                }

                p.subtitle-1 {
                    font-family: 'IBMPlexSans-SemiBold';
                    font-size: 20px;
                }
            }

            .cta-box {
                text-align: center;
                max-height: none;
                width: auto;

                .profile-pics-wrapper.mobile {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 8px;

                    .profile-pic {
                        max-width: 40px;
                        max-height: 40px;
                        border-radius: 1000px;
                        margin-left: -10px
                    }
                }

                .box-header {
                    margin-bottom: 18px;
                }

                .cta-flex {
                    display: block;
                    text-align: center;

                    .profile-pics-wrapper.desktop {
                        display: none;
                    }

                    input, button {
                        font-family: 'NeueHaasDisplayRoman';
                    }

                    input {
                        width: 60%;
                    }

                    .cta-email {
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 8px;
                        padding: 10px 24px;
                        background: white;
                        border: 1px solid rgba(104, 105, 110, 0.5);
                        border-radius: 100px;
                        color: rgba(104, 105, 110, 0.5);
                        font-size: 16px;
                        line-height: 100%;
                    }
                }
            }
        }

        .mission {
            padding-top: 64px;
            padding-bottom: 16px;

            &-wrapper {
                width: 100%;
            }

            img {
                width: 46px;
            }

            &-wrapper {
                width: 80%;
                padding: 0 7px;

                &:first-child {
                    margin-bottom: 64px;
                }
            }

            &-icon {
                margin-bottom: 38px;
            }

            &-content {
                h5.subtitle-large {
                    margin-bottom: 48px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            &-content:last-child {
                margin-bottom: 0px;
            }
        }

        .values {
            padding-top: 64px;
            padding-bottom: 64px;

            .header {
                width: 100%;
                margin-bottom: 48px;
            }

            .project-wrapper {
                gap: 84px;

                .left {
                    width: 100%;
                    margin: 0 auto;
                    justify-content: center;
                }
            }
        }

        .resources {
            padding: 40px 0;

            .header {
                h5 {
                    margin: 0 auto;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .cta-box .cta-flex {
            input {
                width: 100%;
            }

            button {
                margin-top: 16px;
            }
        }
    }

    @media only screen and (max-width: 480px) {
        margin-top: 63px;

        .container {
            padding: 0 16px;
        }

        .homepage {
            overflow-x: hidden;
        }

        .home-hero {
            padding-top: 32px;
            padding-bottom: 60px;

            .header {
                margin-bottom: 32px;

                h1 {
                    //max-width: 460px;
                    padding: 20px;
                    font-size: 48px;
                    line-height: 120%;
                }

                p.subtitle-1 {
                    width: 100%;
                    font-size: 16px;
                }
            }

            .learn-more {
                margin-top: 64px;
            }
        }

        .mission {
            padding-bottom: 17px;

            &-wrapper {
                width: 100%;
            }

            &-icon {
                margin-bottom: 38px;
            }

            &-content {
                h5.subtitle-large {
                    margin-bottom: 48px;
                }
            }
        }

        .values {
            padding-bottom: 64px;

            .project-wrapper {
                .left {
                    h5.subtitle-large {
                        margin-bottom: 44px;
                    }

                    a {
                        font-size: 16px;
                    }
                }

                .right {
                    .card-wrapper {
                        gap: 16px;

                        .project-card {
                            padding: 16px;

                            .card-content {
                                width: 236px;

                                img.photo {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}