@import "../Global/_variables.scss";

.project-list-page {
    .hero-header {
        text-align: center;
        padding-bottom: 55px;

        .header {
            max-width: 1007px;
            margin: auto;

            .image-wrapper {
                margin-bottom: 8px;
            }

            .title-1 {
                margin-bottom: 26px;
            }

            .project-tags {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 8px;
                max-width: 76%;
                margin: auto;

                .tag {
                    border: 1px solid $peach-500;
                    background: inherit;
                    color: $peach-500;
                    border-radius: 100px;
                }
            }
        }
    }

    .project-list-wrapper {
        padding-top: 220px;

        .container {
            padding: 0 30px;
        }

        .list-wrapper {
            .filters {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 36px;

                input {
                }

                select {
                    max-width: 124px;
                }
            }

            .project-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 38px;
                flex-wrap: wrap;

                .project-card {
                    margin-bottom: 0px;
                    padding: 0px;
                    max-width: calc(53% - 64px);
                    /*max-width: 589px;*/

                    .btn-small {
                        font-style: italic;
                    }

                    .card-content {
                        .image-wrapper {
                            position: relative;

                            img.project-status {
                                position: absolute;
                                top: 8px;
                                right: 8px;
                            }

                            img.in-progress {
                                width: 109px;
                            }

                            img.live {
                                width: 67px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 76%;
    margin: auto;

    .tag {
        border: 1px solid $peach-500;
        background: inherit;
        color: $peach-500;
        border-radius: 100px;
    }
}