<div class="blog-wrapper">
    <div class="blog-card">
        <div class="blog-image">
            <img src="./images/Laptop.png" />
        </div>
        <div class="blog-tags">
            <button class="tag btn-small">#Design</button>
            <button class="tag btn-small">#Productivity</button>
        </div>
        <div>
            <p class="subtitle-medium">
                Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements.
            </p>
        </div>
    </div>

    <div class="blog-card">
        <div class="blog-image">
            <img src="./images/Laptop.png" />
        </div>
        <div class="blog-tags">
            <button class="tag btn-small">#Design</button>
            <button class="tag btn-small">#Productivity</button>
        </div>
        <div>
            <p class="subtitle-medium">
                Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements.
            </p>
        </div>
    </div>

    <div class="blog-card">
        <div class="blog-image">
            <img src="./images/Laptop.png" />
        </div>
        <div class="blog-tags">
            <button class="tag btn-small">#Design</button>
            <button class="tag btn-small">#Productivity</button>
        </div>
        <div>
            <p class="subtitle-medium">
                Remove the complexity of HTML & CSS, create a styleguide, and apply your styles directly to the HTML elements.
            </p>
        </div>
    </div>
</div>