@page "/blogs"
@page "/blogs/{ChannelId}"

<div class="blog-list-page">
    <div class="container">
        <div class="blog-hero">
            <h2 class="title-1">Sparc Blogs</h2>
        </div>

        @foreach (var post in Content)
        {
            <section class="blog-featured" @onclick="@(e => GoTo(post))">
                <BlogPost Post="post" />
            </section>
        }
    </div>
</div>

@code {
    [Parameter] public string? ChannelId { get; set; } = null!;
    List<string> DefaultChannels = new() { "law-of-100-blog" };
    List<IbisContent> Content = new();

    protected override async Task OnInitializedAsync()
    {
        if (ChannelId != null)
        {
            var channel = await Ibis.GetAllAsync(ChannelId, asHtml: true, take: 10);
            Content.AddRange(channel!.Content);
        }
        else
        {
            foreach (var channel in DefaultChannels)
            {
                var channelContent = await Ibis.GetAllAsync(channel, asHtml: true, take: 1);
                Content.AddRange(channelContent!.Content);
            }
            Content = Content.OrderByDescending(x => x.Timestamp).ToList();
        }
    }
    
    public void GoTo(IbisContent content) => Nav.NavigateTo($"/blog/{ChannelId}/{content.Tag}");
}