article {
    border-radius: 24px;
    padding: 24px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    border: 1px solid var(--Color-Yellow-200);
    background: var(--Color-Yellow-100);

    &.processing {
        opacity: 0.5;
    }

    &.invalid {
        border: 1px solid red;
    }

    header { 
        display: flex;
        justify-content: space-between;
    }

    h3 {
        font-size: 0.825rem;
        font-weight: 600;
    }
}

p {
    color: var(--Color-Grayscale-800);
}

time {
    font-size: 0.875rem;
    color: var(--Color-Grayscale-700);
}
