article {
    border-top: 1px solid #162959;
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#buttons {
    position: absolute;
    top: 30px;
    left: 30px;

    button {
        background-color: #081B4B;
        border: 3px solid #152959;
        color: white;
        padding: 8px;
        border-radius: 8px;
    }
}

#hud {
    position: absolute;
    top: 30px;
    right: 8px;
    width: min(30vw, 400px);
    bottom: 8px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto;
    gap: 8px;
}

.project, .details {
    background-color: #081B4B;
    border-radius: 8px;
    font: 400 0.875rem/1.225rem var(--Font-Serif);
    border: 3px solid #152959;
    padding: 8px;

    header {
        margin: 8px 0;
    }
}

.project {
    padding-top: 40px;

    > header {
        position: absolute;
        top: -20px;
        left: 0;
        padding: 8px 12px;
        background-color: #081B4B;
        display: inline-block;
        border-radius: 8px;
        border: 3px solid #152959;
    }
}

.details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;

    header ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }


    li {
        background: rgba(8, 27, 75, 0.50);
        color: #5A72AF;
        padding: 4px 8px;
        text-align: center;
        border-radius: 8px;
        border: 3px solid #152959;
        border-bottom: 0;

        &.active {
            background-color: #081B4B;
            color: white;
        }
    }
}
