@import "../App.Variables.scss";

.blog-list {
    margin: 100px 0;

    h2 {
        font-size: 67px;
        line-height: 80px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 80px;
    }

    .container {
        max-width: 1024px;
    }

    .blog-post {
        display: grid;
        grid-template-rows: 236px auto 20px;
        gap: 12px;
        cursor: pointer;

        header {
            margin-top: 0;
        }

        h3 {
            font-size: 24px;
            font-weight: 500;
            line-height: 112%;
            text-align: left;
            margin: 12px 0;
        }

        figure {
            height: 236px;
            margin-bottom: 24px;
            grid-row: 1;
            transition: transform 0.2s ease-in-out;
        }

        &:hover figure {
            transform: scale(1.03, 1.03);
        }

        .content {
            display: none;
        }

        aside, time {
            font-size: 13px;
            line-height: 130%;
        }

        &-featured {
            display: flex;
            align-items: center;
            gap: 42px;
            padding: 0;
            cursor: pointer;
            margin-bottom: 30px;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(384px, 1fr) );
            grid-gap: 32px;
            padding-top: 160px;
        }

        &-card {
            cursor: pointer;

            .card-image {
                margin-bottom: 12px;

                img {
                    width: 100%;
                }
            }

            .title {
                margin-bottom: 12px;
            }
        }

        &-grid {
            padding-top: 0;
        }

        &-tags {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            p {
                color: var(--primary-500);
            }

            .seperation-line {
                border: 1px solid $peach-500;
                width: 1px;
                height: 14px;
                margin: 0 8px;
            }
        }
    }

    .posted {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: var(--primary-500);
        }
    }
}

.blog-page {
    margin: 100px 0;
    .container {
        max-width: 1024px;
    }
}
