@* @page "/blogs/{ChannelId}/{Tag}"

<section class="blog-page">
    <div class="container">
        <div class="blog">
            <BlogPost Post="Content" />
        </div>
    </div>
</section>

@code {
    [Parameter] public string ChannelId { get; set; } = null!;
    [Parameter] public string Tag { get; set; } = null!;
    IbisContent? Content;

    protected override async Task OnInitializedAsync()
    {
        Content = await Ibis.GetAsync(ChannelId, Tag);
    }
} *@