.kori-widget {
    display: none;
    position: absolute;
    z-index: 1000;
    transition: 200ms ease-in-out;

    h5 {
        padding: 0;
        font-family: 'Love Ya Like A Sister' !important;
        font-weight: 400;
        font-size: 16px;
    }

    &__actions {
        display: flex;
        justify-content: center;

        .kori-widget__content {
            width: 300px;
            padding: 12px;
            background: var(--white);
            border: 15px solid transparent;
            border-radius: 24px;
            border-image: url('kori/images/brush-effect.svg') 15 round;
        }

        .kori-widget__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;

            div {
                display: flex;
                gap: 8px;
            }

            button {
                padding: 0;
                background: none;
                color: var(--grey-900);
                border: none;
                border-radius: 0px;
                font-family: 'Love Ya Like A Sister' !important;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                transition: 200ms ease-in-out;

                &:hover {
                    filter: opacity(0.6);
                }

                &:active {
                    filter: opacity(1);
                }
            }
        }

        .kori-widget__options {
            display: flex;
            flex-direction: column;
            gap: 3px;

            button {
                width: 100%;
                padding: 6px;
                background: none;
                border: 10px solid transparent;
                border-radius: 24px;
                border-image: url('kori/images/brush-effect.svg') 15 round;
                color: var(--grey-900);
                font-family: 'Love Ya Like A Sister' !important;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                line-height: 100%;
                text-align: left;
                transition: 200ms ease-in-out;

                &:hover {
                    filter: opacity(0.6);
                }

                &:active {
                    filter: opacity(1);
                }
            }
        }
    }
}
