<div id="kori-widget" class="kori-widget">
    <div id="kori-widget__actions" class="kori-widget__actions kori-buddy__enabled">
        <img class="kori-buddy" src="kori/images/kori-buddy.svg" />
        <div class="kori-widget__content">
            <div class="kori-widget__header">
                <h5>How can I help you?</h5>
                <div>
                    <button class="kori__btn-text">Edit</button>
                    <button class="kori__btn-text">Review</button>
                </div>
            </div>
            <div class="kori-widget__options">
                <button class="options__edit kori__btn">Edit Content</button>
                <button class="options__ab kori__btn">A/B Testing</button>
                <button class="options__publish kori__btn">Publish</button>
                <button class="options__search kori__btn">Search</button>
            </div>
        </div>
    </div>

    <div id="kori-edit" class="kori-edit">
        <div class="kori-edit__content">
            <div class="kori-edit__back">
                <button id="kori-edit__back" class="kori__btn-text">&lt; Back to edit</button>
            </div>
            <div class="kori-edit__header">
                <h5>Edit your content.</h5>
            </div>
            <div class="kori-edit__options">
                <button><img src="kori/icons/Bold.svg" /></button>
                <button><img src="kori/icons/Italic.svg" /></button>
                <button><img src="kori/icons/Strikethrough.svg" /></button>
                <button><img src="kori/icons/Union.svg" /></button>
                <button><img src="kori/icons/Code.svg" /></button>
                <button><img src="kori/icons/Quote.svg" /></button>
                <button><img src="kori/icons/Numbered.svg" /></button>
                <button><img src="kori/icons/Bullet.svg" /></button>
                <button><img src="kori/icons/Attachment.svg" /></button>
                <button><img src="kori/icons/Link.svg" /></button>
            </div>
            <div class="kori-edit__actions">
                <button class="kori-edit__cancel kori__btn">Cancel</button>
                <button class="kori-edit__save kori__btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>