<div id="kori-widget" class="kori-widget" @onclick:stopPropagation="true" @onclick:preventDefault="true">
    <div class="kori-widget__actions kori-buddy__enabled">
        <img class="kori-buddy" src="kori/images/kori-buddy.svg" />
        <div class="kori-widget__content">
            <div class="kori-widget__header">
                <h5>How can I help you?</h5>
                <div>
                    <button>Edit</button>
                    <button>Review</button>
                </div>
            </div>
            <div class="kori-widget__options">
                <button>Edit Content</button>
                <button>A/B Testing</button>
                <button>Publish</button>
                <button>Search</button>
            </div>
        </div>
    </div>
    <div class="kori-edit">
        <div class="kori-widget-content"></div>
    </div>
</div>

@code {

}
