.emoji-selector {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}
.emoji-selector h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.emoji-selector .emoji-container {
  flex: 1;
  min-height: 162px;
  max-height: 172px;
  overflow-y: auto;
  border: 1px solid var(--purple-100);
  border-radius: 8px;
  padding: 8px 4.338px 0px 4.273px;
}

.skintones, .emojis {
  font-family: "Noto Emoji", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  /*padding: 0 6px 0 18px;*/
}
.skintones li, .emojis li {
  width: 32px;
  height: 32px;
  /*padding: 6px;*/
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.skintones li:hover, .emojis li:hover {
  background: var(--gray-100);
}
.skintones li.selected, .emojis li.selected {
  background: var(--purple-900);
  color: white;
}
