.form.first-step-idea ::deep form {
  gap: 16px;
}
.form ::deep form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form ::deep form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form ::deep form label span {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.12px;
  display: flex;
}
.form ::deep form label span .validation-message {
  color: var(--red);
  font-weight: 500;
  margin-left: 15px;
}
.form ::deep form label .required {
  color: var(--red);
  margin-left: 2px;
}
.form ::deep form label input, .form ::deep form label textarea {
  border-radius: 16px;
  border: 1px solid var(--gray-100);
  background: var(--yellow-50);
}
.form ::deep form label input {
  padding: 8px 16px;
  height: 22px;
}
.form ::deep form label input[type=file] {
  display: none;
}
.form ::deep form label input.invalid {
  border-color: var(--red);
}
.form ::deep form label textarea {
  padding: 16px;
  height: 149px;
  resize: none;
}
.form ::deep form label:last-of-type {
  margin-bottom: 0;
}
.form h2, .form h3, .form h4, .form h5 {
  letter-spacing: -0.12px;
  margin-bottom: 8px;
}
.form h2 {
  font-size: 1.3rem;
}
.form h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
.form h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
.form h5 {
  font-size: 1.4rem;
  font-weight: 600;
}
.form section:first-of-type div {
  width: 100%;
  max-width: 100%;
  display: flex;
}
.form section:first-of-type div div {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid var(--purple-800);
  border-radius: 20px;
  cursor: pointer;
  background: transparent;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
}
.form section:first-of-type div div:hover {
  background-color: var(--purple-50);
}
.form section:first-of-type div div:active {
  background-color: var(--purple-100);
}
.form section:first-of-type div div ::deep input[type=file] {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.form section:last-of-type {
  overflow-y: auto;
}
.form section:last-of-type ul {
  list-style: none;
  padding: 0;
}
.form section:last-of-type ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-100);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 4px;
  background: var(--yellow-50);
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
.form section:last-of-type ul li article {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.form section:last-of-type ul li article img {
  border-radius: 10px;
  background: var(--yellow-50);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  padding: 4px;
}
.form section:last-of-type ul li article div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}
.form section:last-of-type ul li article div .file-name {
  font-weight: 600;
  font-size: 14px;
  color: var(--gray-900);
}
.form section:last-of-type ul li article div .file-size, .form section:last-of-type ul li article div p {
  font-size: 12px;
  color: var(--gray-900);
}
.form section:last-of-type ul li article button {
  border: 1px solid transparent;
  background: var(--yellow-50);
  width: 24px;
  height: 24px;
  padding: 4px 10px;
  border-radius: 50px;
  cursor: pointer;
}
.form section:last-of-type ul li .progress-bar {
  width: 100%;
  height: 4px;
  background: var(--purple-100);
  border-radius: 2px;
  overflow: hidden;
}
.form section:last-of-type ul li .progress-bar .progress {
  height: 100%;
  background: var(--purple-800);
  transition: width 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
