form {
    display: flex;
    flex-direction: column;
    gap: 16px !important;

    label {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;

        span {
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: -0.12px;
        }

        .required {
            color: var(--red);
        }

        ::deep input, ::deep textarea {
            border-radius: 16px;
            border: 1px solid var(--gray-100);
            background: var(--yellow-50);
        }

        ::deep input {
            padding: 8px 16px;
            height: 22px;

            &[type=file] {
                display: none;
            }
        }

        ::deep textarea {
            padding: 16px;
            height: 149px;
            resize: none;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: -0.12px;
        margin-bottom: 8px;
    }

    h4 {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: -0.12px;
        margin-bottom: 8px;
    }

    h5 {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: -0.12px;
    }

    section:first-of-type {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 32px 16px;
            border: 2px dashed var(--gray-100);
            border-radius: 16px;
            cursor: pointer;

            &:hover {
                background: var(--gray-200);
            }

            &.dragover {
                border-color: #007bff;
                background: var(--gray-300);
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                padding: 0;
                border: none;

                h3 {
                    margin-bottom: 0;
                }
            }

            label span {
                padding: 4px 10px;
                color: var(--purple-800);
                border: none;
                border-radius: 50px;
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    section:last-of-type {
        margin-top: 20px;
        overflow-y: auto;

        ul {
            list-style: none;
            padding: 0;

            li {
                position: relative;
                display: flex;
                flex-direction: column;
                border: 1px solid var(--gray-100);
                border-radius: 8px;
                padding: 8px;
                margin-bottom: 4px;
                background: var(--yellow-50);
                justify-content: center;
                align-items: flex-start;
                gap: 12px;

                article {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    flex-direction: row;
                    width: 100%;
                    position: relative;

                    img {
                        border-radius: 10px;
                        background: var(--yellow-50);
                        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
                        padding: 4px;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        gap: 2px;

                        .file-name {
                            font-weight: 600;
                            font-size: 14px;
                            color: var(--gray-900);
                        }

                        .file-size {
                            font-size: 12px;
                            color: var(--gray-900);
                        }
                    }

                    button {
                        border: 1px solid transparent;
                        background: transparent;
                        width: 24px;
                        height: 24px;
                        padding: 4px 10px;
                        border-radius: 50px;
                        background: var(--yellow-50);
                        cursor: pointer;
                    }
                }

                .progress-bar {
                    width: 100%;
                    height: 4px;
                    background: var(--purple-100);
                    border-radius: 2px;
                    overflow: hidden;

                    .progress {
                        height: 100%;
                        background: var(--purple-800);
                        transition: width 0.3s ease;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}