article {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 120px;
  row-gap: 60px;
  width: fit-content;
  height: fit-content;
  padding: 240px;
}
article .card-container {
  width: 500px;
  height: 700px;
  display: flex;
  justify-content: start;
  align-items: start;
}
article .card-container:nth-of-type(odd) {
  align-items: end;
}
