@page "/ideas"
@layout PageLayout

<PageTitle>Ideas | Sparc</PageTitle>

<article>
    @foreach (var idea in ProjectIdeas)
    {
        <IdeaCard @key="idea.Id" Idea=@idea OnOpenFullView="OpenFullIdea" />
    }
    @if (ShowFullIdeaCard)
    {
        <IdeaCardFull Idea=@CurrentIdea OnClose="CloseFullIdea" />
    }
</article>

@* <div class="modal-overlay"></div> *@

@inject Sparc2.Ideas.IdeaService IdeaService

@code {
    bool ShowFullIdeaCard;
    Idea? CurrentIdea;
    IEnumerable<Idea> ProjectIdeas = new List<Idea>();

    protected override async Task OnInitializedAsync()
    {
        IdeaService.OnIdeasChanged += UpdateIdeas;
        ProjectIdeas = await Api.ProjectIdeas.GetAllIdeas();
    }

    private void UpdateIdeas()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        IdeaService.OnIdeasChanged -= UpdateIdeas;
    }

    void OpenFullIdea(Idea idea)
    {
        ShowFullIdeaCard = true;
        CurrentIdea = idea;
    }

    void CloseFullIdea()
    {
        ShowFullIdeaCard = false;
        CurrentIdea = null;
    }
}