article {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 120px;
  row-gap: 60px;
  width: fit-content;
  height: fit-content;
  padding: 120px 60px;
}
article .card-container {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: start;
}
article .card-container:nth-of-type(2n+1) {
  align-items: end;
}
