@page "/ideas"
@layout PageLayout

<PageTitle>Ideas | Sparc</PageTitle>

<article>
    @foreach (var idea in IdeaService.Ideas)
    {
        <IdeaCard @key="idea.Id" Idea=@idea OnOpenFullView="OpenFullIdea" />
    }
    @if (ShowFullIdeaCard)
    {
        <IdeaCardFull Idea=@CurrentIdea OnClose="CloseFullIdea" />
    }
</article>

@* <div class="modal-overlay"></div> *@

@inject Sparc2.Ideas.IdeaService IdeaService

@code {
    bool ShowFullIdeaCard;
    ProjectIdea? CurrentIdea;

    protected override void OnInitialized()
    {
        IdeaService.OnIdeasChanged += UpdateIdeas;
    }

    private void UpdateIdeas()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        IdeaService.OnIdeasChanged -= UpdateIdeas;
    }

    void OpenFullIdea(ProjectIdea idea)
    {
        ShowFullIdeaCard = true;
        CurrentIdea = idea;
    }

    void CloseFullIdea()
    {
        ShowFullIdeaCard = false;
        CurrentIdea = null;
    }
}