.card {
  width: 332px;
  height: fit-content;
  padding: 24px;
  border-radius: 16px;
  background: var(--yellow-50);
  box-shadow: 4px 4px 16px 0px rgba(63, 24, 5, 0.25);
}
.card header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.card header img {
  width: 32px;
  height: 32px;
}
.card header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.card header div h3 {
  color: var(--purple-800);
  font-size: 1.6rem;
  font-weight: 450;
  line-height: 120%;
  letter-spacing: -0.16px;
}
.card header div p {
  color: var(--purple-800);
  font-size: 1.4rem;
  font-weight: 450;
  line-height: 120%;
  letter-spacing: -0.14px;
}
.card section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card section h2 {
  color: var(--gray-900);
  font-size: 2.133rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.427px;
}
.card section .files {
  position: relative;
}
.card section .files .images {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 100%;
  height: fit-content;
}
.card section .files .images img {
  display: none;
  width: 100%;
}
.card section .files .images img.active {
  display: block;
}
.card section .files:hover .arrows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.3s ease-in-out;
}
.card section .files:hover .arrows button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 2px;
  background: rgba(218, 190, 250, 0.5);
  cursor: pointer;
}
.card section .files:hover .arrows button ::deep svg {
  width: 20px;
}
.card section .files:hover .arrows button ::deep svg path {
  stroke: var(--purple-50);
}
.card section .files:hover .arrows button.arrow-left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card section .files:hover .arrows button.arrow-right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card section .files:hover .arrows button.arrow-right ::deep svg {
  transform: rotate(180deg);
}
.card section div:last-of-type p {
  color: var(--gray-900);
  font-size: 1.4rem;
  font-weight: 450;
  line-height: 120%;
}
.card section .arrows {
  display: none;
}
.card section .indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  margin-top: 2px;
}
.card section .indicators .indicator {
  background: var(--purple-200);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.card section .indicators .indicator.active {
  background: var(--purple-800);
}
.card footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  /*
          button {
              display: flex;
              height: 40px;
              padding: 10px 20px 10px 16px;
              justify-content: center;
              align-items: center;
              gap: 4px;
              background: none;
              border-radius: 20px;
              border: 1px solid var(--gray-100);
              color: var(--gray-600);
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 120%;
              letter-spacing: -0.16px;
              cursor: pointer;
              transition: .2s all ease-in-out;

              &:hover {
                  border: 1px solid var(--purple-800);
              }

              &:active {
                  border: 1px solid var(--gray-100);
              }
          }*/
}
.card footer div:first-of-type {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
