<div id="kori-blog" class="kori-blog">
    <div class="kori-blog__input">
        <input id="kori-slug-input" type="text" placeholder="Type blog slug" />
    </div>
    <div class="kori-blog__button">
        <button class="create-btn">Create New</button>
    </div>
</div>