.kori-blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.kori-blog input {
  padding: 8px 16px;
  text-align: start;
  border-radius: 8px;
  border: 1px solid #CCD5EB;
  width: 195px;
  height: 32px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.kori-blog input::placeholder {
  color: #485269;
  font-size: 14px;
}
.kori-blog button {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #4162DC;
  background: #5377FC;
  font-family: "Articulat CF";
  font-size: 14px;
  font-style: normal;
}
.kori-blog button:hover {
  background: #EEF2FA;
  color: #5377FC;
  border-color: transparent;
}
.kori-blog button:active {
  background: #EEF2FA;
  color: #4162DC;
  border-color: transparent;
}
