<div id="kori-search" class="kori-search @(Kori.Mode == "Search" ? "show" : "")">
    <div class="kori-search__header">
        <div class="kori-search__title">
            <h5>Navigation</h5>
            <button class="close-icon" @onclick="Kori.CloseAsync">
                <img src="/_content/Kori/icons/Close.svg" alt="Close" />
            </button>
            
        </div>
        <div class="kori-search__searchbar">
            <img src="/_content/Kori/icons/Search2.svg" />
            <input id="kori-searchbar" type="text" placeholder="Type to find..." />
        </div>
    </div>
    <div class="kori-search__divider"></div>
    <div class="kori-search__list">
        <div class="kori__content-container">
            <div class="kori__content-page">
                <img src="/_content/Kori/icons/PageIcon.svg" /> Page name
            </div>
            <div class="kori__content-elements">
                <div class="kori__content-item"><img src="/_content/Kori/icons/ContentIcon.svg" /> Content name</div>
                <div class="kori__content-item"><img src="/_content/Kori/icons/ContentIcon.svg" /> Content name</div>
                <div class="kori__content-item"><img src="/_content/Kori/icons/ContentIcon.svg" /> Content name</div>
            </div>
        </div>
        <div class="kori__content-container">
            <div class="kori__content-page">
                <img src="/_content/Kori/icons/PageIcon.svg" /> Page name
            </div>
            <div class="kori__content-elements">
                <div class="kori__content-item"><img src="/_content/Kori/icons/ContentIcon.svg" /> Content name</div>
                <div class="kori__content-item"><img src="/_content/Kori/icons/ContentIcon.svg" /> Content name</div>
                <div class="kori__content-item"><img src="/_content/Kori/icons/ContentIcon.svg" /> Content name</div>
            </div>
        </div>
    </div>
</div>

@inject Kori Kori