@import "_variables.scss";

//containers & sections
.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
}

section {
    padding-top: 160px;
    padding-bottom: 200px;
}

section:last-of-type {
    padding-bottom: 100px;
}

//tags
.section-tag {
    padding: 10px 16px;
    box-shadow: -10px 2px 4px rgba(16, 45, 71, 0.02);
    font-style: italic;
    max-width: fit-content;
    margin-bottom: 32px;
}

.values-tag {
    background: white;


    p {
        color: var(--error-500);
    }
}

.project-tag {
    background: white;


    p {
        color: var(--error-500);
    }
}

.community-tag {
    background: $blue-100;

    p {
        color: var(--tertiary-500);
    }
}

.blog-tags {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;

    .tag {
        border: 1px solid rgba(104,105,110, 0.5); //$grey-500 50% opacity
        border-radius: 100px;
        box-shadow: $box-shadow-md;
        color: var(--primary-900);
        background: white;
        font-weight: 400;
    }
}
.project-card {
    .card-tags-wrapper {
        display: flex;
        justify-content: space-between;

        .card-tags {
            button {
                border: none;
                color: $purple-500;
                background: var(--secondary-500);
                border-radius: 100px;
            }

            button:hover {
                background: var(--secondary-300);
            }
        }

        .card-github {
            button {
                padding: 4px 14px 3px 14px;
                background: $white;
                border: 1px solid $grey-100;
                border-radius: 100px;
                opacity: 0.75;

                img {
                    width: 15px;
                    opacity: 0.75;
                }
            }
        }
    }
}

//buttons
button {
    background: var(--grey-900);
    border-radius: 100px;
    font-size: 16px;
    font-style: italic;
}

.btn-large{
    padding: 16px 32px;
}

.btn-small{
    padding: 6px 14px;
    box-shadow: $box-shadow-md;
    font-size: 14px;
    line-height: 16px;
}

//cta
.cta-box {
    padding: 24px 32px;
    background: $yellow-500;
    border: 1px solid var(--grey-900);
    border-radius: 24px;
    max-width: 562px;
    margin: 0 auto;

    .box-header {
        margin-bottom: 16px;
    }
}

.cta-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .profile-pics-wrapper {
        display: flex;
    }

    .profile-pic {
        max-width: 40px;
        max-height: 40px;
        border-radius: 1000px;
        margin-left: -10px
    }

    button {
        background: var(--grey-900);
        border-radius: 100px;
        font-size: 16px;
        font-style: italic;
    }
}

//nav
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;
    background: $yellow-100;

    .logo {
        flex: 1;
        margin-right: 10px;

        img {
            max-width: 114px;
        }
    }

    .nav-links-wrapper {
        display: flex;
        align-items: center;
        gap: 40px;
        background: white;
        border-radius: 100px;
        padding: 10px 24px;

        a {
            font-family: 'NeueHaasDisplayRoman';
        }
    }

    .community-join {
        flex: 1;

        .profile-pics-wrapper {
            margin-right: 10px;
            margin-left: 20px;

            .profile-pic {
                margin-right: 12px;
                max-width: 14px;
                max-height: 20px;

                img {
                    max-width: 24px;
                    max-height: 24px;
                }
            }
        }


        button {
            padding: 10px 24px;
            background: $peach-500;
            border: none;
            font-family: 'NeueHaasDisplayMedium';
            font-size: 14px;
            font-style: normal;
            text-align: center;
        }
    }
}

//hero
.hero-header {
    padding: 138px 0;
    background: $yellow-100;
}

//Projects
.project-card {
    background: white;
    padding: 32px;
    border-radius: 24px;
    margin-bottom: 32px;

    .image-wrapper {
        margin-bottom: 24px;

        img {
            width: 100%;
        }
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .image-wrapper {
            margin-bottom: 0;
        }
    }

    .card-tags-wrapper {
        margin-top: 20px;
    }
}

//Community Component
.community {
    padding-bottom: 100px;

    .header {
        margin-bottom: 56px;
        max-width: 50%;
    }

    .card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        .community-card {
            background: $yellow-100;
            border-radius: 24px;
            padding: 48px 40px 40px;

            &.badge {
                position: relative;

                .sparc-badge {
                    position: absolute;
                    left: 40px;
                    top: -18px;
                }
            }

            .cta-flex {
                margin-bottom: 36px;
            }

            .card-header {
                margin-bottom: 48px;

                h6 {
                    margin-bottom: 12px;
                }
            }

            .community-signup {
                p {
                    margin-bottom: 8px;
                }

                .community-join {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 12px;

                    input {
                        height: 48px;
                        padding: 12px 24px;
                        background: white;
                        border: 1px solid var(--primary-300);
                        border-radius: 100px;
                        width: 100%;
                    }

                    button {
                        background: $peach-500;
                        color: white;
                        border: none;
                        border-radius: 100px;
                    }
                }
            }
        }

        .badge {
            .card-header {
                margin-top: 72px;
            }
        }
    }
}