@import "_variables.scss";

//containers & sections
.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
}

section {
    padding-top: 160px;
    padding-bottom: 200px;
}

section:last-of-type {
    padding-bottom: 100px;
}

//tags
.section-tag {
    padding: 10px 16px;
    box-shadow: -10px 2px 4px rgba(16, 45, 71, 0.02);
    font-style: italic;
    max-width: fit-content;
    margin-bottom: 32px;
}

.values-tag {
    background: white;

    p {
        color: var(--error-500);
    }
}

.project-tag {
    background: white;


    p {
        color: var(--error-500);
    }
}

.community-tag {
    background: $blue-100;

    p {
        color: var(--tertiary-500);
    }
}

.resources-tag {
    background: $peach-100;

    p {
        color: var(--primary-500);
        color: $peach-500;
    }
}


.blog-tags {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;

    .tag {
        border: 1px solid rgba(104,105,110, 0.5); //$grey-500 50% opacity
        border-radius: 100px;
        box-shadow: $box-shadow-md;
        color: var(--primary-900);
        background: white;
        font-weight: 400;
    }
}

//buttons
button {
    background: var(--grey-900);
    border-radius: 100px;
    font-size: 16px;
    font-style: italic;
}

.btn-large{
    padding: 16px 32px;
}

.btn-small{
    padding: 6px 14px;
    box-shadow: $box-shadow-md;
    font-size: 14px;
    line-height: 16px;
}

//cta
.cta-box {
    padding: 24px 32px;
    background: $yellow-500;
    border: 1px solid var(--grey-900);
    border-radius: 24px;
    max-width: 562px;
    max-height: 117px;
    margin: 0 auto;

    .box-header {
        margin-bottom: 16px;
    }
}

.cta-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .profile-pics-wrapper {
        display: flex;
    }

    .profile-pic {
        max-width: 40px;
        max-height: 40px;
        border-radius: 1000px;
        margin-left: -10px
    }

    button {
        background: var(--grey-900);
        border-radius: 100px;
        font-size: 16px;
        font-style: italic;
    }
}

//hero
.hero-header {
    background: $yellow-100;
}

//Community Component
.community {
    padding-bottom: 100px;

    .header {
        margin-bottom: 56px;
        max-width: 50%;
    }

    .card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        .community-card {
            background: $yellow-100;
            border-radius: 24px;
            padding: 48px 40px 40px;

            &.badge {
                position: relative;

                .sparc-badge {
                    position: absolute;
                    left: 40px;
                    top: -18px;
                }
            }

            .cta-flex {
                margin-bottom: 36px;
            }

            .card-header {
                margin-bottom: 48px;

                h6 {
                    margin-bottom: 12px;
                }
            }

            .community-signup {
                p {
                    margin-bottom: 8px;
                }

                .community-join {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 12px;

                    input {
                        height: 48px;
                        padding: 12px 24px;
                        background: white;
                        border: 1px solid var(--primary-300);
                        border-radius: 100px;
                        width: 100%;
                    }

                    button {
                        background: $peach-500;
                        color: white;
                        border: none;
                        border-radius: 100px;
                    }
                }
            }
        }

        .badge {
            .card-header {
                margin-top: 72px;
            }
        }
    }
}