@import "_variables.scss";

//nav
nav {
    .nav-desktop {
        padding: 32px 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $yellow-100;

        .logo {
            flex: 1;
            margin-right: 10px;

            img {
                max-width: 114px;
            }
        }

        .nav-links-wrapper {
            display: flex;
            align-items: center;
            gap: 40px;
            background: white;
            border-radius: 100px;
            padding: 10px 24px;

            a {
                font-family: 'NeueHaasDisplayRoman';
            }
        }

        .community-join {
            flex: 1;

            .profile-pics-wrapper {
                margin-right: 10px;
                margin-left: 20px;

                .profile-pic {
                    margin-right: 12px;
                    max-width: 14px;
                    max-height: 20px;

                    img {
                        max-width: 24px;
                        max-height: 24px;
                    }
                }
            }


            button {
                padding: 10px 24px;
                background: $peach-500;
                border: none;
                font-family: 'NeueHaasDisplayMedium';
                font-size: 14px;
                font-style: normal;
                text-align: center;
            }
        }
    }

    //mobile menu
    .menu-toggle {
        display: none;
    }

    input.menu-toggle {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    @media only screen and (max-width: 760px) {
        position: relative;
        overflow: hidden;

        .nav-desktop {
            display: none;
        }

        .menu-toggle {
            display: inline-block;
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 60;
        }

        input.menu-toggle {
            display: none;

            &:not(:checked) {
                background: $yellow-100;

                & ~ label {
                    position: fixed;
                }

                & ~ label span:last-child {
                    display: none;
                }

                & ~ .nav-mobile {
                    width: 100vw;
                    background: $yellow-100;
                    position: fixed;
                    z-index: 20;

                    .menu {
                        display: none;
                    }

                    .community-join {
                        display: none;

                        button {
                            display: none;
                        }
                    }
                }
            }

            &:checked {
                background: $white;

                & ~ label {
                    position: fixed;
                    z-index: 60;
                }

                & ~ label span:first-child {
                    display: none;
                }

                & ~ .nav-mobile {
                    background: $white;
                    position: fixed;
                    overflow: hidden;
                    width: 100vw;
                    height: calc(100vh - 96px);

                    .menu {
                        display: block;
                        overflow: scroll;
                        height: 100%;
                    }

                    .community-join {
                       background: $yellow-100;
                       overflow: hidden;
                    }
                }
            }
        }

        label.menu-toggle {
            background: transparent;

            i {
                font-size: 20px;
            }
        }

        .nav-mobile {
            display: block;
            align-items: center;
            background: $white;
            z-index: 50;
            overflow: hidden;

            .logo {
                padding: 18px 25px;
                flex: 1;

                img {
                    max-width: 93px;
                }
            }

            .menu {
                width: 100vw;
                padding: 96px 0;
                background: $white;
                text-align: center;

                li {
                    margin-bottom: 100px;

                    a {
                        font-family: 'NeueHaasDisplayRoman';
                        font-size: 24px;
                    }
                }
            }

            .community-join {
                overflow: hidden;
                width: 100vw;
                padding: 25px 18px;
                background: $yellow-100;
                display: flex;
                gap: 15px;
                justify-content: center;
                flex-wrap: wrap;
                position: fixed;
                bottom: 0;
                text-align: center;

                button {
                    padding: 10px 24px;
                    border-radius: 50px;
                    font-family: 'NeueHaasDisplayThin';
                    font-size: 24px;
                    letter-spacing: 0.5px;
                    text-align: center;

                    &.log-in {
                        background: transparent;
                        border: 1px solid $peach-500;
                        color: $peach-500;
                    }

                    &.join-community {
                        background: $peach-500;
                        border: none;
                    }
                }
            }
        }
    }
}
/*       &.mobile {
            width: 100%;
            height: 50px;
            display: block;
            padding: 15px 25px 15px 20px;
            background: $yellow-100;
            position: fixed;
            top: 0;
            z-index: 50;

            .logo {
                position: relative;
                width: 50px;
                z-index: 50;
            }

            label.menu-toggle {
                background: $yellow-100;
                position: absolute;
                top: 15px;
                right: 25px;
                z-index: 50;

                i {
                    font-size: 20px;
                }
            }

            input.menu-toggle {
                display: none;

                &:not(:checked) {
                    & ~ label span:last-child {
                        display: none;
                    }

                    & ~ .nav-menu {
                        background: $yellow-100;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 0;
                        z-index: 20;
                    }

                    & ~ .nav-menu ul {
                        margin-top: 40px;
                    }
                }

                &:checked {
                    & ~ label span:first-child {
                        display: none;
                    }

                    & ~ .menu {
                        background: $yellow-100;
                        float: right;
                        width: 100vw;
                        height: 100vh;
                    }

                    & ~ label {
                        position: fixed;
                    }
                }
            }
               .menu {
                overflow: hidden;
                margin: 0px -25px 0 -20px;
                padding-top: 25px;
                display: block;
                background: $background;
                position: fixed;
                top: 40px;
                right: 25px;
                z-index: 20;
                transition: width 600ms, height 600ms;

                ul {
                    background: $background;
                    overflow: hidden;

                    li {
                        width: 100%;
                        margin-bottom: 8px;

                        &:active {
                            background: $secondary-300;
                        }

                        a.log-in {
                            width: 80%;
                            min-width: 200px;
                            margin: 0px 0px 6px 45px;
                            padding: 5px 20px;
                            border: 1px solid $gray;
                            border-radius: 5px;
                            font-size: 16px;
                            line-height: 24px;
                            text-decoration: none;
                            text-align: center;
                            transition: color 0ms, background 300ms ease-in-out;

                            &:hover {
                                color: $gray;
                                cursor: pointer;
                                transform: scale(103%);
                            }
                        }

                        a.get-started {
                            width: 80%;
                            min-width: 200px;
                            margin: 6px 0px 0px 45px;
                            padding: 5px 20px;
                            border: 1px solid $primary-500;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: center;
                            transition: 200ms ease-in-out;

                            &:hover {
                                cursor: pointer;
                                transform: scale(103%);
                            }
                        }
                    }
                }
            }
*/
