body {
    font-family: 'NeueHaasDisplayRoman';
    font-weight: 400;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'NeueHaasDisplayMedium';
    }

    .title-1 {
        font-size: 68px;
        line-height: 120%;
    }

    .title-2 {
        font-size: 24px;
    }

    .subtitle-small {
        font-size: 14px;
    }

    .subtitle-medium {
        font-size: 20px;
    }

    .subtitle-large {
        font-size: 32px;
    }

    p, a, button {
        font-family: 'NeueHaasDisplayRoman';
    }

    .label, input, button {
        font-size: 16px;
    }

    .link-small {
        font-size: 14px;
    }

    .link-medium {
        font-size: 20px;
    }

    .link-large {
        font-size: 32px;
    }

    .semi-bold {
        font-weight: 500;
    }

    .bold {
        font-weight: 600;
    }
}

//fonts

//Neue Haas Grotesk Display Pro
@font-face {
    font-family: 'NeueHaasDisplayThin';
    font-weight: 100;
    src: url(wwwroot/fonts/NeueHaasDisplayThin.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayThinItalic';
    font-weight: 100;
    src: url(wwwroot/fonts/NeueHaasDisplayThinItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayLight';
    font-weight: 300;
    src: url(wwwroot/fonts/NeueHaasDisplayLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayLightItalic';
    font-weight: 300;
    src: url(wwwroot/fonts/NeueHaasDisplayLightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayRoman';
    font-weight: 400;
    src: url(wwwroot/fonts/NeueHaasDisplayRoman.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayRomanItalic';
    font-weight: 400;
    src: url(wwwroot/fonts/NeueHaasDisplayRomanItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayMedium';
    font-weight: 500;
    src: url(wwwroot/fonts/NeueHaasDisplayMedium.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayMediumItalic';
    font-weight: 500;
    src: url(wwwroot/fonts/NeueHaasDisplayMediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayBold';
    font-weight: 700;
    src: url(wwwroot/fonts/NeueHaasDisplayBold.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayBoldItalic';
    font-weight: 700;
    src: url(wwwroot/fonts/NeueHaasDisplayBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayBlack';
    font-weight: 900;
    src: url(wwwroot/fonts/NeueHaasDisplayBlack.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayBlackItalic';
    font-weight: 900;
    src: url(wwwroot/fonts/NeueHaasDisplayBlackItalic.ttf) format('truetype');
}

//IBM Plex Sans
@font-face {
    font-family: 'IBMPlexSans-Medium';
    font-weight: 500;
    src: url(wwwroot/fonts/IBMPlexSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'IBMPlexSans-MediumItalic';
    font-weight: 500;
    src: url(wwwroot/fonts/IBMPlexSans-MediumItalic.ttf) format('truetype');
}
