@using System.Net.Http.Json

<div id="login-component" class="login-component kori-ignore">
    <div class="login-component__toggle show" _="on click toggle .show on .login-component__menu">
        <button id="user-loggedout" class="login-component__logged-out show" aria-label="user">
            <img src="/_content/Kori/icons/user-profile-x.svg" />
        </button>
        <button id="user-loggedin" class="login-component__logged-in" aria-label="user">
            <img src="/_content/Kori/icons/user-profile-check.svg" />
        </button>
    </div>
    <div class="login-component__menu">
        <div class="login-component__user">
            <p>Username</p>
            <button class="login-component__logout-btn" aria-label="log-out">
                <img src="/_content/Kori/icons/Logout.svg" />
            </button>
        </div>
        <div class="login-component__actions">
            <div class="login-component__btn">
                <button aria-label="log-in">Log In <img src="/_content/Kori/icons/Arrow right.svg" /></button>
            </div>
            <LanguageSelector LanguageId="@LanguageId" />
        </div>
    </div>
</div>

@inject IJSRuntime Js

@code {
    [Parameter] public string? LanguageId { get; set; } = "en";
    bool isLoggedIn = false;
    bool showLogin = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("initHyperScript");
    }

    void ToggleLogin()
    {
        showLogin = !showLogin;
    }
}