@using System.Net.Http.Json

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
</style>

<div id="login-component" class="login-component kori-ignore">
    <div class="login-component__toggle show" _="on click toggle .show on .login-component__menu">
        <button id="user-loggedout" class="login-component__logged-out show" aria-label="user">
            <img src="/_content/Kori/icons/user-profile-x.svg" />
        </button>
        <button id="user-loggedin" class="login-component__logged-in" aria-label="user">
            <img src="/_content/Kori/icons/user-profile-check.svg" />
        </button>
    </div>
    <div class="login-component__menu">
        <div class="login-component__user">
            <p>Username</p>
            <button class="login-component__logout-btn" aria-label="log-out">
                <img src="/_content/Kori/icons/Logout.svg" />
            </button>
        </div>
        <LoginSignup />
        <LanguageSelector />
    </div>
</div>

@inject IJSRuntime Js

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("initHyperScript");
    }
}