.login-component {
    width: fit-content;
    padding: 12px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 16px;
    z-index: 1000;

    .login-component__toggle {
        width: 24px;
        height: 24px;
        padding: 0 !important;
        background: #1a1a1a !important;
        border: none !important;
        border-radius: 50%;
        cursor: pointer;

        .login-user-icon {
            width: 36px !important;
            height: auto !important;
        }

        &.loggedout {
            border: 1px solid var(--grey-50);
            border-radius: 50%;
        }

        &.loggedin {
            display: none;
            border: 1px solid var(--green-500);
            border-radius: 50%;

            &.show {
                display: block;
            }
        }
    }

    &__btn {
        padding: 8px 0 !important;
        background: none !important;
        border: none !important;
        font-family: 'Encode Sans Expanded' !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 140% !important;
        text-align: left !important;
        color: white !important;
        cursor: pointer;
    }

    &__menu {
        display: none;
        width: 256px;
        height: fit-content;
        padding: 16px 16px 0px 16px;
        position: absolute;
        top: 40px;
        right: 12px;
        background: var(--grey-900);
        border: 1px solid var(--grey-700);
        border-radius: 4px;
        animation: login-component__fadeIn 500ms ease-in-out;
        z-index: 1000;

        &.show {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .login-component__menu {
        &-header-wrapper {
            @extend .login-component__text-primary;

            p {
                @extend .login-component__text-secondary;
            }
        }
    }

    .login-component__account-btn, .login-component__profile-btn, .login-component__setup-btn, .login-component__logout-btn {
        display: flex;
        gap: 14px !important;
        align-items: center !important;

        img {
            margin: 0 !important;
        }
    }

    &__menu-actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .login-component__menu-divider {
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.80);
        }

        button {
            padding: 8px 0 !important;
            border-radius: 4px !important;

            img {
                width: 16px;
                height: 16px;
            }
        }

        .login-component__login-btn, login-component__account-btn {
            display: flex !important;
            gap: 14px !important;
            align-items: center !important;
            padding: 6px 8px !important;
            background: var(--grey-800) !important;
            text-align: left !important;
            transition: 300ms ease-in-out;

            &:hover {
                background: var(--grey-700) !important;
            }

            &:active {
                background: var(--grey-800) !important;
            }

            &__content {
                text-align: left !important;

                figcaption {
                    @extend .login-component__text-primary;
                }

                aside {
                    @extend .login-component__text-secondary;
                }
            }
        }

        .login-component__use-passkey {
            width: 100%;

            button {
                display: flex;
                align-content: center;
                align-items: center;
                gap: 12px;

                img {
                    margin: 0 !important;
                }
            }
        }

        .login-component__different-email {
            width: 100%;
            margin: 12px 0;

            span {
                display: flex;
                align-content: center;
                align-items: center;
                gap: 12px;
            }

            button {
                padding: 0 !important;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .login-component__input {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100% !important;
            height: fit-content !important;
            padding: 8px 12px !important;
            background: var(--grey-800) !important;
            border-radius: 4px !important;
            border: none !important;
            color: var(--grey-50);
            font-family: 'Encode Sans Expanded';
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;

            &:focus {
                border: var(--grey-50) !important;
                backdrop-filter: brightness(120%) !important;
            }
        }

        .login-component__submit-btn {
            width: 100% !important;
            padding: 8px 12px !important;
            background: var(--grey-800) !important;
            font-family: 'Encode Sans Expanded';
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            transition: 300ms ease-in-out;

            &:hover {
                background: var(--grey-700) !important;
            }

            &:active {
                background: var(--grey-800) !important;
            }
        }

        .login-component__form-error {
            display: none;

            span {
                margin-top: 8px;
                color: white;
                opacity: 0.7;
            }

            &.show {
                display: block;
            }
        }
    }

    &__overlay {
        &.show {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}

@keyframes login-component__fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.login-component__text-primary {
    font-family: 'Encode Sans Semi Expanded' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 160% !important;
    color: var(--grey-50) !important;
}

.login-component__text-secondary {
    font-family: 'Encode Sans Expanded' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    color: var(--grey-300) !important;
}

.login-component__text-btn {
    font-family: 'Encode Sans Expanded' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    color: white !important;
    cursor: pointer !important;
    transition: 300ms ease-in-out !important;
    opacity: 0.7 !important;

    &:hover {
        opacity: 1 !important;
    }

    &:active {
        opacity: 0.7 !important;
    }
}