.login-component {
  width: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  position: absolute;
  top: 0;
  right: 16px;
  z-index: 1000;
}
.login-component .login-component__toggle {
  width: 24px;
  height: 24px;
  padding: 0 !important;
  background: #1a1a1a !important;
  border: none !important;
  border-radius: 50%;
  cursor: pointer;
}
.login-component .login-component__toggle .login-user-icon {
  width: 36px !important;
  height: auto !important;
}
.login-component .login-component__toggle.loggedout {
  border: 1px solid var(--grey-50);
  border-radius: 50%;
}
.login-component .login-component__toggle.loggedin {
  display: none;
  border: 1px solid var(--green-500);
  border-radius: 50%;
}
.login-component .login-component__toggle.loggedin.show {
  display: block;
}
.login-component__btn {
  padding: 8px 0 !important;
  background: none !important;
  border: none !important;
  font-family: "Encode Sans Expanded" !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  text-align: left !important;
  color: white !important;
  cursor: pointer;
}
.login-component__menu {
  display: none;
  width: 256px;
  height: fit-content;
  padding: 16px 16px 0px 16px;
  position: absolute;
  top: 40px;
  right: 12px;
  background: var(--grey-900);
  border: 1px solid var(--grey-700);
  border-radius: 4px;
  animation: login-component__fadeIn 500ms ease-in-out;
  z-index: 1000;
}
.login-component__menu.show {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-component .login-component__account-btn, .login-component .login-component__profile-btn, .login-component .login-component__setup-btn, .login-component .login-component__logout-btn {
  display: flex;
  gap: 14px !important;
  align-items: center !important;
}
.login-component .login-component__account-btn img, .login-component .login-component__profile-btn img, .login-component .login-component__setup-btn img, .login-component .login-component__logout-btn img {
  margin: 0 !important;
}
.login-component__menu-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-component__menu-actions .login-component__menu-divider {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.login-component__menu-actions button {
  padding: 8px 0 !important;
  border-radius: 4px !important;
}
.login-component__menu-actions button img {
  width: 16px;
  height: 16px;
}
.login-component__menu-actions .login-component__login-btn, .login-component__menu-actions login-component__account-btn {
  display: flex !important;
  gap: 14px !important;
  align-items: center !important;
  padding: 6px 8px !important;
  background: var(--grey-800) !important;
  text-align: left !important;
  transition: 300ms ease-in-out;
}
.login-component__menu-actions .login-component__login-btn:hover, .login-component__menu-actions login-component__account-btn:hover {
  background: var(--grey-700) !important;
}
.login-component__menu-actions .login-component__login-btn:active, .login-component__menu-actions login-component__account-btn:active {
  background: var(--grey-800) !important;
}
.login-component__menu-actions .login-component__login-btn__content, .login-component__menu-actions login-component__account-btn__content {
  text-align: left !important;
}
.login-component__menu-actions .login-component__use-passkey {
  width: 100%;
}
.login-component__menu-actions .login-component__use-passkey button {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 12px;
}
.login-component__menu-actions .login-component__use-passkey button img {
  margin: 0 !important;
}
.login-component__menu-actions .login-component__different-email {
  width: 100%;
  margin: 12px 0;
}
.login-component__menu-actions .login-component__different-email span {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 12px;
}
.login-component__menu-actions .login-component__different-email button {
  padding: 0 !important;
}
.login-component__form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.login-component__form .login-component__input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100% !important;
  height: fit-content !important;
  padding: 8px 12px !important;
  background: var(--grey-800) !important;
  border-radius: 4px !important;
  border: none !important;
  color: var(--grey-50);
  font-family: "Encode Sans Expanded";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.login-component__form .login-component__input:focus {
  border: var(--grey-50) !important;
  backdrop-filter: brightness(120%) !important;
}
.login-component__form .login-component__submit-btn {
  width: 100% !important;
  padding: 8px 12px !important;
  background: var(--grey-800) !important;
  font-family: "Encode Sans Expanded";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  transition: 300ms ease-in-out;
}
.login-component__form .login-component__submit-btn:hover {
  background: var(--grey-700) !important;
}
.login-component__form .login-component__submit-btn:active {
  background: var(--grey-800) !important;
}
.login-component__form .login-component__form-error {
  display: none;
}
.login-component__form .login-component__form-error span {
  margin-top: 8px;
  color: white;
  opacity: 0.7;
}
.login-component__form .login-component__form-error.show {
  display: block;
}
.login-component__overlay.show {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@keyframes login-component__fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.login-component__text-primary, .login-component .login-component__menu-header-wrapper, .login-component__menu-actions .login-component__login-btn__content figcaption, .login-component__menu-actions login-component__account-btn__content figcaption {
  font-family: "Encode Sans Semi Expanded" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 160% !important;
  color: var(--grey-50) !important;
}

.login-component__text-secondary, .login-component .login-component__menu-header-wrapper p, .login-component__menu-actions .login-component__login-btn__content aside, .login-component__menu-actions login-component__account-btn__content aside {
  font-family: "Encode Sans Expanded" !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  color: var(--grey-300) !important;
}

.login-component__text-btn {
  font-family: "Encode Sans Expanded" !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  color: white !important;
  cursor: pointer !important;
  transition: 300ms ease-in-out !important;
  opacity: 0.7 !important;
}
.login-component__text-btn:hover {
  opacity: 1 !important;
}
.login-component__text-btn:active {
  opacity: 0.7 !important;
}
