.login-component {
    width: fit-content;
    padding: 12px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 16px;
    font-family: 'Encode Sans Semi Expanded' !important;
    font-weight: 400;
    line-height: 160%;
    color: var(--grey-50) !important;
    z-index: 1000;

    > * {
        width: 32px;
        height: 32px;
        padding: 0;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 20px;
            height: 20px;
            margin: 0;
        }
    }

    &.show {
        display: flex;
        gap: 12px;
    }

    &__btn {
        padding: 8px 0 !important;
        background: none !important;
        border: none !important;
        font-family: 'Encode Sans Semi Expanded' !important;
        color: var(--grey-50) !important;

        &:hover {
            background: none !important;
            color: white !important;
        }
    }

    .login-component__toggle {
        width: 24px;
        height: 24px;
        background: #1a1a1a !important;
        border-radius: 50%;
        cursor: pointer;

        .login-user-icon {
            width: 36px !important;
            height: auto !important;
        }

        &.loggedout {
            border: 1px solid var(--grey-50);
            border-radius: 50%;
        }

        &.loggedin {
            display: none;
            border: 1px solid var(--green-500);
            border-radius: 50%;

            &.show {
                display: block;
            }
        }
    }

    &__menu {
        display: none;
        width: 256px;
        height: fit-content;
        padding: 16px 16px 0px 16px;
        position: absolute;
        top: 40px;
        right: 12px;
        background: var(--grey-900);
        border: 1px solid var(--grey-700);
        border-radius: 4px;
        animation: login_fadeIn 500ms ease-in-out;
        z-index: 1000;

        &.show {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .login-menu {
        &__header {
            color: var(--grey-50);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;

            p {
                font-family: 'Encode Sans Expanded';
                color: var(--grey-300);
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
            }
        }

        &__actions {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .login-menu__divider {
                width: 100%;
                border-bottom: 1px solid rgba(255, 255, 255, 0.80);
            }

            button {
                padding: 6px 8px !important;
                border-radius: 4px !important;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            .login-btn, .account-btn {
                display: flex !important;
                gap: 14px !important;
                align-items: center !important;
                background: var(--grey-800) !important;
                transition: 300ms ease-in-out;

                &:hover {
                    background: var(--grey-700) !important;
                }

                &:active {
                    background: var(--grey-800) !important;
                }

                &__content {
                    text-align: left !important;

                    figcaption {
                        font-family: 'Encode Sans Semi Expanded';
                        color: var(--grey-50);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 160%;
                    }

                    aside {
                        font-family: 'Encode Sans Expanded';
                        color: var(--grey-300);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 160%;
                    }
                }
            }

            .language-btn {
                display: flex !important;
                justify-content: space-between !important;
                align-items: center !important;
                transition: 300ms ease-in-out;

                &:hover {
                    background: var(--grey-700) !important;
                }

                &:active {
                    background: var(--grey-900) !important;
                }

                &__wrapper {
                    display: flex !important;
                    align-items: center !important;
                    gap: 14px !important;
                    font-family: 'Encode Sans Expanded';
                    color: var(--grey-300);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 160%;
                }

                .side-icon {
                    transition: transform 300ms ease-in-out;

                    &.rotate {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &__input {
            display: flex;
            flex-direction: column;
            gap: 4px;

            input {
                width: 100% !important;
                height: fit-content !important;
                padding: 8px 12px !important;
                background: var(--grey-800) !important;
                border-radius: 4px !important;
                border: none !important;
                color: var(--grey-50);
                font-family: 'Encode Sans Expanded';
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;

                &:focus {
                    border: var(--grey-50) !important;
                    backdrop-filter: brightness(120%) !important;
                }
            }

            .submit-btn {
                width: 100% !important;
                padding: 8px 12px !important;
                background: var(--grey-800) !important;
                font-family: 'Encode Sans Expanded';
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
                transition: 300ms ease-in-out;

                &:hover {
                    background: var(--grey-700) !important;
                }

                &:active {
                    background: var(--grey-800) !important;
                }
            }
        }
    }

    &__overlay {
        &.show {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}

@keyframes login_fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}