@using Microsoft.JSInterop
<section id="@_id" class="kori-content">
    @ChildContent
</section>

<Kori.KoriWidget />

@inject Kori Kori
@inject NavigationManager Nav
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    string _id = $"kori-{Guid.NewGuid()}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Kori.InitializeAsync(this, Nav.Uri, _id);
            Nav.LocationChanged += async (sender, args) => await Kori.InitializeAsync(this, args.Location, _id);
            StateHasChanged();
        }
    }

    [JSInvokable]
    public async Task<List<string>> TranslateAsync(List<string> content)
    {
        return await Kori.TranslateAsync(content);
    }
}