@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Components.Forms
<div id="kori-widget" class="kori-widget kori-ignore">
    <div id="kori-widget__actions" class="kori-widget__actions kori-buddy__enabled">
        <img class="kori-buddy" src="/_content/Kori/images/kori-buddy.svg" />
        @if (Kori.Mode == "")
        {
            <div class="kori-widget__content">
                <div class="kori-widget__header">
                    <h5>How can I help you?</h5>
                    <div>
                        <button class="kori__btn-text">Edit</button>
                        <button class="kori__btn-text">Review</button>
                        <button id="dockButton" class="kori__btn-text" title="Dock">
                            <img class="dock-icon" src="/_content/Kori/images/dock-icon.svg" alt="Dock/Undock" />
                        </button>
                    </div>
                </div>
                <div class="kori-widget__options">
                    <button class="options__edit kori__btn" @onclick=Kori.EditAsync>Edit Content</button>
                    <button class="options__translation kori__btn" @onclick=Kori.OpenTranslationMenu>Translation</button>
                    <button class="options__ab kori__btn">A/B Testing</button>
                    <button class="options__search kori__btn" @onclick=Kori.OpenSearchMenuAsync>Search</button>
                </div>
            </div>
        }
        else if (Kori.Mode == "Edit")
        {
            <div id="kori-edit" class="kori-edit">
                <div class="kori-edit__content">
                    <div class="kori-edit__back">
                        <button id="kori-edit__back" class="kori__btn-text" @onclick="Kori.BackToEdit">&lt; Back to edit</button>
                    </div>
                    <div class="kori-edit__header">
                        <h5>Edit your content.</h5>
                    </div>
                    <div class="kori-edit__options">
                        <button class="kori__btn-icon" @onclick='() => Kori.ApplyMarkdown("**")'><img src="/_content/Kori/icons/Bold.svg" /></button>
                        <button class="kori__btn-icon" @onclick='() => Kori.ApplyMarkdown("_")'><img src="/_content/Kori/icons/Italic.svg" /></button>
                        <button class="kori__btn-icon" @onclick='() => Kori.ApplyMarkdown("~~")'><img src="/_content/Kori/icons/Strikethrough.svg" /></button>
                        <button class="kori__btn-icon" @onclick='() => Kori.ApplyMarkdown("++")'><img src="/_content/Kori/icons/underline.svg" /></button>
                    </div>
                    <div class="kori-edit__actions">
                        <button class="kori-edit__cancel kori__btn" @onclick="Kori.CancelAsync">Cancel</button>
                        <button class="kori-edit__save kori__btn-primary" @onclick="Kori.BeginSaveAsync">Save</button>
                    </div>
                </div>
            </div>
        }
        else if (Kori.Mode == "EditImage")
        {
            <div id="kori-edit" class="kori-edit">
                <div class="kori-edit__content">
                    <div class="kori-edit__back">
                        <button id="kori-edit__back" class="kori__btn-text" @onclick="Kori.CancelAsync">&lt; Back to edit</button>
                    </div>
                    <div class="kori-edit__header">
                        <h5>Edit your image.</h5>
                    </div>
                    <div class="kori-edit__options">
                        <form enctype="multipart/form-data" method="post">                            
                            <InputFile OnChange="Kori.OnImageSelected" id="image-input" style="width:270px" accept="image/*" />
                        </form>
                    </div>
                    <div class="kori-edit__actions">
                        <button class="kori-edit__cancel kori__btn" @onclick="Kori.CancelAsync">Cancel</button>
                        <button class="kori-edit__save kori__btn-primary" @onclick="Kori.BeginSaveAsync">Save</button>
                    </div>
                </div>
            </div>
        }
        else if (Kori.Mode == "Translate")
        {
            <div id="kori-translation" class="kori-translation">
                <div class="kori-translation__content">
                    <div class="kori-translation__back">
                        <button id="kori-translation__back" class="kori__btn-text" @onclick="Kori.CancelAsync">&lt;  Back</button>
                    </div>
                    <div class="kori-translation__header">
                        <h5>Translation</h5>
                        <div class="kori-translation__header-actions">
                            <button><img src="/_content/Kori/icons/Volume up.svg" /></button>
                            <button><img src="/_content/Kori/icons/Settings.svg" /></button>
                        </div>
                    </div>
                    <div class="kori-translation__options">
                        <div class="first-language">
                            <select>
                                <option>English</option>
                                <option>Spanish</option>
                                <option>Italian</option>
                                <option>Mandarin</option>
                                <option>Japanese</option>
                                <option>Thai</option>
                            </select>
                        </div>
                        <div class="swap-translation">
                            <button class="swap-btn"><img src="/_content/Kori/icons/Swap vertical.svg" /></button>
                        </div>
                        <div class="second-language">
                            <select>
                                <option>English</option>
                                <option>Spanish</option>
                                <option>Italian</option>
                                <option>Mandarin</option>
                                <option>Japanese</option>
                                <option>Thai</option>
                            </select>
                        </div>
                    </div>
                    <div class="kori-translation__actions">
                        <button class="kori-translation__cancel kori__btn">Reset</button>
                        <button class="kori-translation__save kori__btn-primary">Translate</button>
                    </div>
                </div>
            </div>
        }
        else if (Kori.Mode == "Search")
        {
            <div id="kori-search" class="kori-search">
                <div class="kori-search__content">
                    <div class="kori-search__back">
                        <button id="kori-search__back" class="kori__btn-text" @onclick="Kori.CancelAsync">&lt;  Back</button>
                    </div>
                    <div class="kori-search__header">
                        <h5>Content Navigation</h5>
                        <div class="kori-search__searchbar">
                            <img src="/_content/Kori/icons/Search.svg" />
                            <input id="kori-searchbar" type="text" placeholder="Search Page/Content Name..." />
                        </div>
                    </div>
                    <div class="kori-search__list">
                        <div class="kori__content-container">
                            <div class="kori__content-page">
                                <img src="/_content/Kori/icons/Page.svg" /> Content Page
                            </div>
                            <div class="kori__content-elements">
                                <div class="kori__content-item"><img src="/_content/Kori/icons/Components.svg" /> Content Name</div>
                                <div class="kori__content-item"><img src="/_content/Kori/icons/Components.svg" /> Content Name</div>
                                <div class="kori__content-item"><img src="/_content/Kori/icons/Components.svg" /> Content Name</div>
                            </div>
                        </div>
                        <div class="kori__content-container">
                            <div class="kori__content-page">
                                <img src="/_content/Kori/icons/Page.svg" /> Content Page
                            </div>
                            <div class="kori__content-elements">
                                <div class="kori__content-item"><img src="/_content/Kori/icons/Components.svg" /> Content Name</div>
                                <div class="kori__content-item"><img src="/_content/Kori/icons/Components.svg" /> Content Name</div>
                                <div class="kori__content-item"><img src="/_content/Kori/icons/Components.svg" /> Content Name</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@inject Kori Kori