@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("/_content/Kori/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("/_content/Kori/fonts/Lato-Bold.ttf") format("truetype");
}
.kori-login-2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  position: absolute;
  top: 0;
  right: 24px;
  font-family: Lato;
  font-weight: 400;
  line-height: 160%;
}
.kori-login-2 .kori-login__toggle {
  display: none;
}
.kori-login-2 .kori-login__toggle.show {
  display: block;
}
.kori-login-2 .kori-login__toggle > * {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kori-login-2 .kori-login__toggle > * img {
  width: 20px;
  height: 20px;
  margin: 0;
}
.kori-login-2 .kori-login__toggle .kori-login__logged-out {
  background: var(--grey-900);
}
.kori-login-2 .kori-login__toggle .kori-login__logged-in {
  display: none;
  background: #36A42C;
  border-radius: 50%;
}
.kori-login-2 .kori-login__menu {
  width: 200px;
  display: none;
  animation: login_fadeIn 1000ms linear;
  z-index: 1000;
  padding: 16px 16px 0px 16px;
  background: white;
}
.kori-login-2 .kori-login__menu.show {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.kori-login-2 .kori-login__menu li, .kori-login-2 .kori-login__menu button {
  color: var(--grey-700) !important;
}
.kori-login-2 .kori-login__menu button {
  padding: 16px 20px !important;
  border: 1px solid var(--grey-200, #DBDBDB) !important;
  border-radius: 0 !important;
  border-image: none !important;
  font-family: Lato;
  font-weight: 700;
  line-height: 160%;
}
.kori-login-2 .kori-login__actions {
  display: flex;
  flex-direction: column;
  gap: 16px !important;
}
.kori-login-2 .kori-login__user {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.kori-login-2 .kori-login__btn {
  display: flex;
  gap: 16px;
}
.kori-login-2 .kori-login__btn img {
  width: 10px;
  height: auto;
}
.kori-login-2 .kori-login__language .language-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  max-height: 0px;
  opacity: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.kori-login-2 .kori-login__language .language-list.show {
  padding-bottom: 16px;
  max-height: 200px;
  opacity: 1;
}
.kori-login-2 .kori-login__language .list-header {
  font-style: italic;
}
.kori-login-2 .kori-login__language ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  list-style: none;
  width: 184px;
  margin-top: 16px;
  margin-right: -16px;
  padding-right: 16px;
}
.kori-login-2 .kori-login__language li {
  list-style: none;
}
.kori-login-2 .kori-login.show {
  display: flex;
  gap: 12px;
}
.kori-login-2 .kori-login .kori-buddy {
  width: 88px;
}
.kori-login-2 .kori-login__container {
  padding: 12px;
  background: var(--white);
  border-radius: 0 0 16px 16px;
}
.kori-login-2 .kori-login h5, .kori-login-2 .kori-login input, .kori-login-2 .kori-login label, .kori-login-2 .kori-login button {
  font-family: "Love Ya Like A Sister" !important;
  font-size: 14px;
  color: var(--grey-900);
  font-weight: 400;
}
.kori-login-2 .kori-login__header {
  margin-bottom: 12px;
}
.kori-login-2 .kori-login__input {
  display: flex;
  gap: 8px;
  padding: 0;
  background: var(--white);
  border: 10px solid transparent;
  border-image: url("/_content/Kori/borders/black-16.svg") 15 round;
}
.kori-login-2 .kori-login__input input {
  padding: 0;
  border: none;
}
.kori-login-2 .kori-login__input input::placeholder {
  color: var(--grey-500);
}
.kori-login-2 .kori-login__input input:-ms-input-placeholder {
  color: var(--grey-500);
}
.kori-login-2 .kori-login__keep {
  display: flex;
  gap: 8px;
  font-size: 14px;
}
.kori-login-2 .kori-login__keep input {
  margin-top: 6px;
  width: 14px;
  height: 14px;
  border: 4px solid transparent;
  border-image: url("/_content/Kori/borders/black-8.svg") 15 round;
  border-radius: 2px;
}
.kori-login-2 .kori-login__keep input::before {
  background: var(--grey-700);
  box-shadow: var(--grey-700);
}
.kori-login-2 .kori-login__actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}
.kori-login-2 .kori-login__actions button {
  width: 100%;
  padding: 0;
  background: none;
  border: 10px solid transparent;
  border-image: url("/_content/Kori/borders/black-8.svg") 15 round;
  font-style: normal;
}
.kori-login-2 .kori-login__actions button.kori-login__btn {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: 0 auto;
  background: var(--orange-500);
  border-radius: 8px;
  border-image-outset: 2px;
}
.kori-login-2 .kori-login__actions button.kori-login__btn:hover {
  background: var(--orange-200) !important;
  filter: opacity(1) !important;
}
.kori-login-2 .kori-login__actions button.kori-login__btn:active {
  background: var(--orange-500) !important;
}
.kori-login-2 .kori-login__actions button.kori-login__cancel:hover {
  filter: opacity(0.6) !important;
}
.kori-login-2 .kori-login__actions button.kori-login__cancel:active {
  filter: opacity(1) !important;
}

@keyframes login_fadeIn {
  0% {
    opacity: 0;
    top: -211px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
