.login-component__language {
    color: white;
    margin-top: 8px;

    .language-list {
        display: flex;
        flex-direction: column;
        max-height: 0;
        transition: all 1000ms ease-in-out;
        opacity: 0;
    }

    &.show {
        height: fit-content;
        padding-bottom: 16px;

        .language-list {
            max-height: 400px;
            opacity: 1;
            transition: all 1000ms ease-in-out;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow-y: auto;
        list-style: none;
        width: 100%;
        margin-top: 16px;
        margin-right: -16px;
        padding-right: 16px;
    }

    li {
        list-style: none;
    }

    button {
        padding: 8px 0;
        background: none;
        color: white;
        font-family: 'Encode Sans Semi Expanded';
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        color: var(--grey-50);
    }
}
