.login-component__language .language-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  max-height: 0px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.login-component__language .language-list.show {
  padding-bottom: 16px;
  max-height: 400px;
  opacity: 1;
}
.login-component__language ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  list-style: none;
  width: 184px;
  margin-top: 16px;
  margin-right: -16px;
  padding-right: 16px;
}
.login-component__language li {
  list-style: none;
}
