@page "/MarkdownEditor"

<div id="kori-markdown" class="MarkdownEditorComponent" style="display: none;">
    <MarkdownEditor @bind-Value="@markdownValue" ValueHTMLChanged="@OnMarkdownValueHTMLChanged" />

    <hr />
    
    <div class="markdown-result">
        @((MarkupString)markdownHtml)
    </div>
</div>

@code {
    [Parameter] public string markdownValue { get; set; }
    // string markdownValue = "#Markdown Editor\nThis is a test";
    string markdownHtml;

    protected override void OnInitialized()
    {
        markdownHtml = Markdig.Markdown.ToHtml(markdownValue ?? string.Empty);
        base.OnInitialized();
    }

    Task OnMarkdownValueChanged(string value)
    {
        return Task.CompletedTask;
    }

    Task OnMarkdownValueHTMLChanged(string value)
    {
        markdownHtml = value;
        return Task.CompletedTask;
    }
}