header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background: transparent; 

    img {
        height: 22px;
    }
}


nav {
    ul {
        font-family: var(--Serif);
        font-size: 1.4rem;
        display: flex;
        gap: 32px;
        align-items: center;
        margin: 0;
    }

    li {
        a {
            text-decoration: none;
            color: var(--Surface-Text-Primary);
        }
    }
}

::deep .avatar {
    height: 32px;
    width: 32px;
    padding: 4px;
    background-color: transparent !important;
}

main {
    padding: 0;
}

@media (orientation: landscape) {
}