header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background: transparent; 

    img {
        height: 22px;
    }
}

nav {
    ul {
        font-family: var(--Font-Serif);
        font-size: 0.875rem;
        display: flex;
        gap: 32px;
        align-items: center;
        display: none;
    }

    li {
        a {
            text-decoration: none;
            color: var(--Color-Grayscale-800);
        }
    }
}

::deep .avatar {
    height: 32px;
    width: 32px;
    padding: 4px;
}

main {
    max-width: 80dvw;
    margin: 24px auto;
    padding: 0 16px;
}

@media (orientation: landscape) {
    nav ul {
        display: flex;
    }
    nav > div {
        display: none;
    }
}